.bundle
db/*.sqlite3
db/*.db
db/sphinx
db/sphinx/*
log
tmp
log/**/*
tmp/**/*
public/images/fallback
public/images/uploads
public/images/cache
*.swp
*.swo
*.swn
*.bak
.DS_Store
public/system
private/system
public/javascripts/*cache.js
public/stylesheets/*cache.css
public/javascripts/all-*.js
public/stylesheets/all-*.css
public/javascripts/all.js
public/stylesheets/all.css
nbproject
vendor/ruby
.rvmrc
