  <table class='title'>
    <tbody>
      <tr>
        <th>
          <img src='images/Leftside.png'>
        </th>
        <td width="250">
          <h1>Targeting</h1>
        </td>
        <th>
          <img src='images/Rightside.png'>
        </th>
      </tr>
    </tbody>
  </table>
  <div class='container'>
    <div id='targeting'></div>
      </div>
      <!-- .container -->
      <!--
      <div class='transition'>
        <a href='#' class='prev'></a>
        <a href='#' class='next'></a>
      </div> -->
    <!-- slide9 -->

