  <table class='title'>
    <tbody>
      <tr>
        <th>
          <img src='images/Leftside.png'>
        </th>
        <td width="240">
          <h1>What we do</h1>
        </td>
        <th>
          <img src='images/Rightside.png'>
        </th>
      </tr>
    </tbody>
  </table>
  <div class='container'>
    <h2 id='tagline'>Lokalite is changing the way people discover new & exciting things to do.</h2>
  </div>
      <!-- .container -->
      <!-- slide2 -->

