  <table class='title'>
    <tbody>
      <tr>
        <th>
          <img src='images/Leftside.png'>
        </th>
        <td width="500">
          <h1>Development Timeline</h1>
        </td>
        <th>
          <img src='images/Rightside.png'>
        </th>
      </tr>
    </tbody>
  </table>
  <div class='container'>
    <div id='dev-timeline'></div>
      </div>
  
<!--  <div class='container'>
    <div class='bio' id='lauren' style='margin-left:180px;'>
    <div class='banner'></div>
    <div class='pic'></div>
    <p class='bio_info'>
      <a class='bio_email' href='mailto:lauren@lokalite.com' title='lauren@lokalite.com'></a>
      <a class='bio_twitter' href='http://twitter.com/#!/tantini21' title='@tantini21 on Twitter' target='_blank'></a>
      <a class='bio_linkedin' href='http://www.linkedin.com/in/lcostantini' title="Lauren's Linkedin Profile" target='_blank'></a>
    </p>
    <h2>Lauren Costantini</h2>
    <ul>
      <li>Created Entrepreneur's Scholarship for <br /> Leeds School of Business</li>
      <li>2 years research and editorial experience</li>
    </ul>
  </div>
  <div class='bio' id='zach' style:'margin-left:100px;'>
    <div class='banner'></div>
    <div class='pic'></div>
    <p class='bio_info'>
      <a class='bio_email' href='mailto:zach@lokalite.com' title='zach@lokalite.com'></a>
      <a class='bio_twitter' href='http://twitter.com/#!/pramerica' title='@pramerica on Twitter' target='_blank'></a>
      <a class='bio_linkedin' href='http://www.linkedin.com/pub/zach-pramer/23/541/183' title="Zach's Linkedin Profile" target='_blank'></a>
    </p>
    <h2>Zach Pramer</h2>
    <ul>
      <li>Co-operated family startup, Pramer Oyster Company, Inc.</li>
      <li>Successful analyst and trader of pop culture art</li>
    </ul>
  </div>
  <div class='bio' id='zef' style='margin-left:35px;'>
    <div class='banner'></div>
    <div class='pic'></div>
    <p class='bio_info'>
      <a class='bio_email' href='mailto:zef@madebykiwi.com' title='zef@madebykiwi.com'></a>
      <a class='bio_twitter' href='http://twitter.com/#!/zefhous' title='@zefhous on Twitter' target='_blank'></a>
      <a class='bio_github' href='http://www.github.com/zef' title="Zef's Github Profile" target='_blank'></a>
    </p>
    <h2>Zef Houssney</h2>
    <ul>
      <li>Owns successful web software firm developing for iPhone, ipad and web</li>
      <li>Experienced audio and video producer</li>
    </ul>
  </div>
  <div class='bio' id='will' style='margin-left:80px'>
    <div class='banner'></div>
    <div class='pic'></div>
    <p class='bio_info'>
      <a class='bio_email' href='mailto:will@lokalite.com' title='will@lokalite.com'></a>
      <a class='bio_twitter' href='http://twitter.com/#!/wpowersiv' title='@wpowersiv on Twitter' target='_blank'></a>
      <a class='bio_linkedin' href='http://www.linkedin.com/in/willpowers320' title="Will's Linkedin Profile" target='_blank'></a>
    </p>
    <h2>Will Powers</h2>
    <ul>
      <li>Design and Photoshop chops</li>
      <li>Over 4 years of Accounting and Finance experience</li>
    </ul>
  </div>
  <div class='bio' id='graham' style='margin-left:80px;'>
    <div class='banner'></div>
    <div class='pic'></div>
    <p class='bio_info'>
      <a class='bio_email' href='mailto:graham@lokalite.com' title='graham@lokalite.com'></a>
      <a class='bio_twitter' href='http://twitter.com/#!/graham_christy' title='@graham_christy on Twitter' target='_blank'></a>
      <a class='bio_linkedin' href='http://www.linkedin.com/in/grambo' title="Graham's Linkedin Profile" target='_blank'></a>
    </p>
    <h2>Graham Christy</h2>
    <ul>
      <li>Ruby on Rails, HTML and CSS</li>
      <li>Built Lokalite's mobile site using jquery mobile</li>
    </ul>
  </div>
  <div class='clear'></div>
</div> -->
      <!-- .container -->
      <!--
      <div class='transition'>
        <a href='#' class='prev'></a>
        <a href='#' class='next'></a>
      </div> -->
    <!-- slide3 -->

