  <table class='title'>
    <tbody>
      <tr>
        <th>
          <img src='images/Leftside.png'>
        </th>
        <td width="200">
          <h1>Contact</h1>
        </td>
        <th>
          <img src='images/Rightside.png'>
        </th>
      </tr>
    </tbody>
  </table>
      <div class='container'>
        <a href='http://www.lokalite.com'><div id='contact1'></div></a>
        <div class='contact_bar' id='email_bar'>
          <i></i>
          <a href='mail_to:will@lokalite.com' class='contact_button email_us'></a>
          <a href='mail_to:will@lokalite.com'>Will@lokalite.com</a>
        </div>
        <div class='contact_bar' id='angellist_bar'>
          <i></i>
          <a href='http://angel.co/lokalite' target='_blank' class='contact_button follow_us'></a>
          <a href='http://angel.co/lokalite' target='_blank'>AngelList</a>
        </div> 
        <div class='contact_bar' id='twitter_bar'>
          <i></i>
          <a href='http://twitter.com/#!/lokalite' target='_blank' class='contact_button follow_us'></a>
          <a href='http://twitter.com/#!/lokalite' target='_blank'>@lokalite</a>
        </div>
        <div class='contact_bar' id='facebook_bar'>
          <i></i>
          <a href='http://facebook.com/lokalite' target='_blank' class='contact_button like_us'></a>
          <a href='http://facebook.com/lokalite' target='_blank'>Lokalite on Facebook</a>
        </div>
        <!-- <div class='contact_bar' id='pdf_bar'>
          <i></i>
          <a href='/Lokalite_Pitch_Deck.pdf' target='_blank' class='contact_button print'></a>
          <a href='/Lokalite_Pitch_Deck.pdf' target='_blank'>Printable PDF</a>
        </div>
      </div> -->
      <!-- .container -->
      <!--
      <div class='transition'>
        <a href='#' class='prev'></a>
        <a href='#' class='next'></a>
      </div> -->
    <!-- slide13 -->



