  <table class='title'>
    <tbody>
      <tr>
        <th>
          <img src='images/Leftside.png'>
        </th>
        <td width="350">
          <h1>Press Coverage</h1>
        </td>
        <th>
          <img src='images/Rightside.png'>
        </th>
      </tr>
    </tbody>
  </table>
  <div class='container'>
<html>
<head>
<title>Sliced Press Coverage</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices (Sliced Press Coverage.psd) -->
<table id="Table_01" width="851" height="551" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="16">
			<img src="images/Sliced-Press-Coverage_01.gif" width="850" height="1" alt=""></td>
		<td>
			<img src="images/comp_spacer.gif" width="1" height="1" alt=""></td>
	</tr>
	<tr>
		<td colspan="8">
			<img src="images/Sliced-Press-Coverage_02.gif" width="329" height="8" alt=""></td>
		<td rowspan="4">
			<a href="http://pocketfullofapps.com/2012/01/07/local-apps-to-find-events-near-you.html">
				<img src="images/Local-Apps-to-Find-Events-Near-You.gif" width="133" height="133" border="0" alt=""></a></td>
		<td colspan="7" rowspan="2">
			<img src="images/Sliced-Press-Coverage_04.gif" width="388" height="31" alt=""></td>
		<td>
			<img src="images/comp_spacer.gif" width="1" height="8" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="4">
			<img src="images/Sliced-Press-Coverage_05.gif" width="10" height="144" alt=""></td>
		<td colspan="2" rowspan="3">
			<a href="http://streetfightmag.com/2011/12/07/off-campus-events-go-hyperlocal-with-student-guide-lokalite/">
				<img src="images/Off-Campus-Events-Go-Hyperlocal-With-Student-Guide-Lokalite.gif" width="255" height="125" border="0" alt=""></a></td>
		<td colspan="3" rowspan="6">
			<img src="images/Sliced-Press-Coverage_07.gif" width="64" height="206" alt=""></td>
		<td>
			<img src="images/comp_spacer.gif" width="1" height="23" alt=""></td>
	</tr>
	<tr>
		<td rowspan="5">
			<img src="images/Sliced-Press-Coverage_08.gif" width="34" height="183" alt=""></td>
		<td colspan="5">
			<a href="http://boulderbeta.com/">
				<img src="images/Boulder-Beta-3.0.5.gif" width="350" height="69" border="0" alt=""></a></td>
		<td rowspan="4">
			<img src="images/Sliced-Press-Coverage_10.gif" width="4" height="176" alt=""></td>
		<td>
			<img src="images/comp_spacer.gif" width="1" height="69" alt=""></td>
	</tr>
	<tr>
		<td colspan="5" rowspan="3">
			<img src="images/Sliced-Press-Coverage_11.gif" width="350" height="107" alt=""></td>
		<td>
			<img src="images/comp_spacer.gif" width="1" height="33" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="images/Sliced-Press-Coverage_12.gif" width="255" height="19" alt=""></td>
		<td rowspan="3">
			<img src="images/Sliced-Press-Coverage_13.gif" width="133" height="81" alt=""></td>
		<td>
			<img src="images/comp_spacer.gif" width="1" height="19" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="8">
			<img src="images/Sliced-Press-Coverage_14.gif" width="2" height="264" alt=""></td>
		<td colspan="2" rowspan="6">
			<a href="http://www.neweranews.org/blog/my-community-is-pretty-neat-lokalitecom">
				<img src="images/My-Community-is-Pretty-Neat--Lokalite.com.gif" width="217" height="247" border="0" alt=""></a></td>
		<td rowspan="11">
			<img src="images/Sliced-Press-Coverage_16.gif" width="46" height="397" alt=""></td>
		<td>
			<img src="images/comp_spacer.gif" width="1" height="55" alt=""></td>
	</tr>
	<tr>
		<td colspan="4">
			<img src="images/Sliced-Press-Coverage_17.gif" width="125" height="7" alt=""></td>
		<td colspan="2" rowspan="3">
			<a href="http://www.bcbr.com/article.asp?id=60654">
				<img src="images/Lokalite-receives-$300,000-in-funding.gif" width="229" height="120" border="0" alt=""></a></td>
		<td>
			<img src="images/comp_spacer.gif" width="1" height="7" alt=""></td>
	</tr>
	<tr>
		<td rowspan="9">
			<img src="images/Sliced-Press-Coverage_19.gif" width="15" height="335" alt=""></td>
		<td colspan="6">
			<a href="http://www.dailycamera.com/circare/html/sca_template.jsp?query=lokalite.com&searchbutton.x=0&searchbutton.y=0&searchbutton=Search&view=entiresitesppublished">
				<img src="images/Daily-Camera--Lokalite.com.gif" width="289" height="84" border="0" alt=""></a></td>
		<td colspan="2" rowspan="3">
			<img src="images/Sliced-Press-Coverage_21.gif" width="52" height="143" alt=""></td>
		<td>
			<img src="images/comp_spacer.gif" width="1" height="84" alt=""></td>
	</tr>
	<tr>
		<td colspan="6" rowspan="4">
			<img src="images/Sliced-Press-Coverage_22.gif" width="289" height="109" alt=""></td>
		<td>
			<img src="images/comp_spacer.gif" width="1" height="7" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="images/Sliced-Press-Coverage_23.gif" width="229" height="52" alt=""></td>
		<td>
			<img src="images/comp_spacer.gif" width="1" height="52" alt=""></td>
	</tr>
	<tr>
		<td rowspan="6">
			<img src="images/Sliced-Press-Coverage_24.gif" width="25" height="192" alt=""></td>
		<td colspan="2" rowspan="5">
			<a href="http://vimeo.com/31040395">
				<img src="images/Career-Advice-from-Will-Powers--Co-Founder-and-CFO,-Lokalite.com.gif" width="252" height="210" border="0" alt=""></a></td>
		<td rowspan="6">
			<img src="images/Sliced-Press-Coverage_26.gif" width="4" height="192" alt=""></td>
		<td>
			<img src="images/comp_spacer.gif" width="1" height="2" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="2">
			<img src="images/Sliced-Press-Coverage_27.gif" width="217" height="57" alt=""></td>
		<td>
			<img src="images/comp_spacer.gif" width="1" height="48" alt=""></td>
	</tr>
	<tr>
		<td rowspan="4">
			<img src="images/Sliced-Press-Coverage_28.gif" width="15" height="142" alt=""></td>
		<td colspan="4" rowspan="2">
			<a href="http://www.cuindependent.com/2011/11/13/new-lokalite-features-bring-bar-specials-to-students/29793/">
				<img src="images/New-Lokalite-features-bring-bar-specials-to-students.gif" width="258" height="90" border="0" alt=""></a></td>
		<td rowspan="4">
			<img src="images/Sliced-Press-Coverage_30.gif" width="16" height="142" alt=""></td>
		<td>
			<img src="images/comp_spacer.gif" width="1" height="9" alt=""></td>
	</tr>
	<tr>
		<td rowspan="3">
			<img src="images/Sliced-Press-Coverage_31.gif" width="1" height="133" alt=""></td>
		<td colspan="3">
			<a href="http://leeds.colorado.edu/news/120">
				<img src="images/Social-Media-Firm-Receives-Funding.gif" width="218" height="73" border="0" alt=""></a></td>
		<td>
			<img src="images/comp_spacer.gif" width="1" height="73" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="2">
			<img src="images/Sliced-Press-Coverage_33.gif" width="218" height="60" alt=""></td>
		<td colspan="4" rowspan="2">
			<img src="images/Sliced-Press-Coverage_34.gif" width="258" height="60" alt=""></td>
		<td>
			<img src="images/comp_spacer.gif" width="1" height="48" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="images/Sliced-Press-Coverage_35.gif" width="252" height="12" alt=""></td>
		<td>
			<img src="images/comp_spacer.gif" width="1" height="12" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="images/comp_spacer.gif" width="1" height="1" alt=""></td>
		<td>
			<img src="images/comp_spacer.gif" width="1" height="1" alt=""></td>
		<td>
			<img src="images/comp_spacer.gif" width="8" height="1" alt=""></td>
		<td>
			<img src="images/comp_spacer.gif" width="209" height="1" alt=""></td>
		<td>
			<img src="images/comp_spacer.gif" width="46" height="1" alt=""></td>
		<td>
			<img src="images/comp_spacer.gif" width="15" height="1" alt=""></td>
		<td>
			<img src="images/comp_spacer.gif" width="15" height="1" alt=""></td>
		<td>
			<img src="images/comp_spacer.gif" width="34" height="1" alt=""></td>
		<td>
			<img src="images/comp_spacer.gif" width="133" height="1" alt=""></td>
		<td>
			<img src="images/comp_spacer.gif" width="34" height="1" alt=""></td>
		<td>
			<img src="images/comp_spacer.gif" width="57" height="1" alt=""></td>
		<td>
			<img src="images/comp_spacer.gif" width="16" height="1" alt=""></td>
		<td>
			<img src="images/comp_spacer.gif" width="25" height="1" alt=""></td>
		<td>
			<img src="images/comp_spacer.gif" width="27" height="1" alt=""></td>
		<td>
			<img src="images/comp_spacer.gif" width="225" height="1" alt=""></td>
		<td>
			<img src="images/comp_spacer.gif" width="4" height="1" alt=""></td>
		<td></td>
	</tr>
</table>
<!-- End Save for Web Slices -->
</body>
</html>
      </div>
      <!-- .container -->
      <!--
      <div class='transition'>
        <a href='#' class='prev'></a>
        <a href='#' class='next'></a>
      </div> -->
    <!-- slide11 -->

