  <table class='title'>
    <tbody>
      <tr>
        <th>
          <img src='images/Leftside.png'>
        </th>
        <td width="500">
          <h1>Lokalite Is Different</h1>
        </td>
        <th>
          <img src='images/Rightside.png'>
        </th>
      </tr>
    </tbody>
  </table>
  <div class='container'>
    <div id='difference'></div>
      </div>
      <!-- .container -->
      <!--
      <div class='transition'>
        <a href='#' class='prev'></a>
        <a href='#' class='next'></a>
      </div> -->
    <!-- slide7 -->

