      <div class='container'>
        <a href='http://lokalite.com'><div id='logo'></div></a>
        <h2 id='tag'>A True Insider's Guide To Local Events</h2>
        <div id='intro_items'></div>
      </div>
      <!-- .container -->
      <div class='transition'>
        <a href='#slide2' class='start'></a>
      </div>
      <!-- .transition -->
    <!-- slide1 -->

