<html>
<head>
<title>Untitled-1</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices (Untitled-1) -->
<table id="Table_01" width="851" height="551" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="14">
			<img src="images/Press_Coverage_01.gif" width="850" height="12" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="12" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="2">
			<img src="images/Press_Coverage_02.gif" width="150" height="151" alt=""></td>
		<td colspan="8">
			<a href="http://boulderbeta.com/">
				<img src="images/Boulder-Beta.gif" width="550" height="97" border="0" alt=""></a></td>
		<td colspan="3" rowspan="3">
			<img src="images/Press_Coverage_04.gif" width="150" height="197" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="97" alt=""></td>
	</tr>
	<tr>
		<td colspan="8">
			<img src="images/Press_Coverage_05.gif" width="550" height="54" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="54" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="6">
			<img src="images/Press_Coverage_06.gif" width="7" height="252" alt=""></td>
		<td colspan="2" rowspan="4">
			<a href="http://www.neweranews.org/blog/my-community-is-pretty-neat-lokalitecom">
				<img src="images/New-Era-News.gif" width="214" height="204" border="0" alt=""></a></td>
		<td colspan="7">
			<img src="images/Press_Coverage_08.gif" width="479" height="46" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="46" alt=""></td>
	</tr>
	<tr>
		<td rowspan="9">
			<img src="images/Press_Coverage_09.gif" width="52" height="341" alt=""></td>
		<td colspan="3">
			<a href="http://www.dailycamera.com/boulder-business/ci_19235605">
				<img src="images/Daily-Camera.gif" width="306" height="96" border="0" alt=""></a></td>
		<td colspan="2" rowspan="2">
			<img src="images/Press_Coverage_11.gif" width="47" height="148" alt=""></td>
		<td colspan="3">
			<a href="http://www.bcbr.com/article.asp?id=60654">
				<img src="images/Boulder-County-Business-Report.gif" width="217" height="96" border="0" alt=""></a></td>
		<td rowspan="9">
			<img src="images/Press_Coverage_13.gif" width="7" height="341" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="96" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="3">
			<img src="images/Press_Coverage_14.gif" width="306" height="100" alt=""></td>
		<td colspan="3">
			<img src="images/Press_Coverage_15.gif" width="217" height="52" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="52" alt=""></td>
	</tr>
	<tr>
		<td rowspan="7">
			<img src="images/Press_Coverage_16.gif" width="14" height="193" alt=""></td>
		<td colspan="3" rowspan="6">
			<a href="http://leeds.colorado.edu/news/120">
				<img src="images/Deming-Center-for-Entrepreneurship.gif" width="249" height="179" border="0" alt=""></a></td>
		<td rowspan="7">
			<img src="images/Press_Coverage_18.gif" width="1" height="193" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="10" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="2">
			<img src="images/Press_Coverage_19.gif" width="214" height="48" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="38" alt=""></td>
	</tr>
	<tr>
		<td rowspan="5">
			<img src="images/Press_Coverage_20.gif" width="25" height="145" alt=""></td>
		<td rowspan="3">
			<a href="http://www.cuindependent.com/2011/11/13/new-lokalite-features-bring-bar-specials-to-students/29793/">
				<img src="images/CU-Independent.gif" width="255" height="88" border="0" alt=""></a></td>
		<td rowspan="5">
			<img src="images/Press_Coverage_22.gif" width="26" height="145" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="10" alt=""></td>
	</tr>
	<tr>
		<td rowspan="4">
			<img src="images/Press_Coverage_23.gif" width="6" height="135" alt=""></td>
		<td colspan="3">
			<a href="http://vimeo.com/31040395">
				<img src="images/CU-Leeds-Business.gif" width="215" height="65" border="0" alt=""></a></td>
		<td>
			<img src="images/spacer.gif" width="1" height="65" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="3">
			<img src="images/Press_Coverage_25.gif" width="215" height="70" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="13" alt=""></td>
	</tr>
	<tr>
		<td rowspan="2">
			<img src="images/Press_Coverage_26.gif" width="255" height="57" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="43" alt=""></td>
	</tr>
	<tr>
		<td colspan="3">
			<img src="images/Press_Coverage_27.gif" width="249" height="14" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="14" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="images/spacer.gif" width="6" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="143" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="71" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="52" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="25" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="255" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="26" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="14" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="33" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="74" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="142" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="7" height="1" alt=""></td>
		<td></td>
	</tr>
</table>
<!-- End Save for Web Slices -->
</body>
</html>