<div class='content'>
  <% form_tag signup_path, :class => 'formtastic' do %>
    <%= errors_for(@errors) %>

    <div>
      <% if params[:business] %>
        <h1 class='big'>Sign up now to promote your events!</h1>
        <h2 class='big'>
          Promote your events on the front page of lokalite in minutes.
        </h2>
      <% else %>
        <h1 class='big'>Find life in your community</h1>
        <h2 class='big'>
          With lokalite, finding something to do has never been so easy. Whether at home or traveling around, you'll always feel like a lokal.
        </h2>
        <h2 class='big'>
          Get started, fun's right around the corner.
        </h2>
      <% end %>
    </div>

    <%= render :partial => 'signup_fields' %>

  <% end %>
</div>
