<div class='form'>
  <h1>Create Event</h1>

  <hr />

  <%= semantic_form_for @event, :url => my_events_path(), :method => 'POST', :html => {:multipart => true} do |form| %>
    <%= render :partial => 'fields', :locals => { :form => form } %>
  <% end %>
</div>

