/* our own liquid layout */
.fixed-left {
  width:230px;
  float:left;
  overflow:hidden;
}

.fluid-right {
  margin-left:230px;
  min-width:720px;
}

.full-width {
  min-width:950px;
  width:100%;
  margin:0 auto;
  overflow:hidden;
}

.location-context, .tagline, .main-buttons, .context-message, .identification {
  float:left;
}

.location-context {
  width:24%;
  text-align:left;
}

.tagline {
  width:31%;
  text-align:center;
}

.main-buttons {
  width:44%;
  text-align:right;
  padding-right:1%;
}

.context-message {
  width:66%;
  text-align:left;
}

.identification {
  width:33%;
  text-align:right;
  padding-right:1%;
}

/*Organization Status*/

  input.orgstatus {
    width: 500px;
    vertical-align:top;
}

/* layout (incl. sticky footer)*/
  html, body {
    height:100%;
  }

  div#wrap {
    min-height:100%;
  }

  div#main {
    overflow:auto; 
    padding-bottom:45px;  /* must be same height as the footer */
  }

  footer#page-bottom {
    position:relative;
    margin-top: -45px; /* negative value of footer height */
    height: 45px;
    clear:both;
  } 

  body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;/
  }

/* global */
  body {
    font-family:"Trebuchet MS",Helvetica,Jamrul,sans-serif; 
  }

  a, a:visited {
    text-decoration: none;
    color: #000000;
  }

  a:hover {
    text-decoration: underline;
    color: #000000;
  }

  a.activated {
    text-decoration: underline;
  }

  .padded {
    padding: 1em;
  }

  .left {
    text-align:left;
  }
  
  .right {
    text-align:right;
   }

  .center {
    text-align:center;
  }

  .centered {
    margin-left: auto;
    margin-right: auto;
  }

  .hint {
    font-size: smaller;
    font-style: italic;
    opacity: 0.3;
  }

  .admin {
    color: #ff5e99 !important;
    font-style: italic !important;
    font-size: smaller;
  }

  ::selection {
    color:#2d2d2d;
    text-shadow:none;
    background-color:#fcfc00;
  }

  dl.app dt {
    font-weight: bolder;
    margin-top: 0.5em;
    color: #444;
  }
  dl.app dd {
    margin-left: 0.5em;
    color: #666;
  }

/* global: button style */
  a.button, a.button:visited {
    border:1px solid #999999; 
    padding:5px; 
    text-decoration:none; 
    color:#4d4d4d; 
    -webkit-border-radius:3px; 
    -moz-border-radius:3px; 
    border-radius:3px; 
    -moz-box-shadow: 1px 1px 2px #eeecc4; 
    -webkit-box-shadow: 1px 1px 2px #eeecc4; 
    box-shadow: 1px 1px 2px #eeecc4; 
    background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#cdcdcd)); 
    background: -moz-linear-gradient(top,  #fdfdfd,  #cdcdcd); 
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#cdcdcd');
  }
  a.button:hover {
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#bdbdbd));
    background: -moz-linear-gradient(top,  #ededed,  #bdbdbd);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bdbdbd');
  }
  a.button:active {
    text-decoration:none;
    color: #2d2d2d;
    background: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#adadad));
    background: -moz-linear-gradient(top, #dddddd, #adadad);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#adadad');
    position:relative;
    top:1px;
    -moz-box-shadow: inset 1px 1px 1px #adadad; 
    -webkit-box-shadow: inset 1px 1px 1px #adadad; 
    box-shadow: inset 1px 1px 1px #adadad; 
  }

/* page-top header */
  .multiplebgs #wrap {
    background:url(../images/top_bar_left_bg.png) top left no-repeat, url(../images/top_bar_bg.png) 0px 0px repeat-x;
  }

  .no-multiplebgs #wrap {
    background:url(../images/top_bar_bg.png) 0px 0px repeat-x;
  }

  header#page-top {
    background:url(../images/logo_beta.png) 20px 10px no-repeat; 
    height:45px;
  }

  #page-top #home-link {
    display:block;
    width:230px;
    height:29px; 
    margin-top:10px;
  }

  #page-top h2.tagline {
    color:#8d8d8d;
    display:block;
    margin:0;
    padding:0;
    height:45px;
    line-height:45px;
    font-size:120%;
    vertical-align:baseline;
    white-space:nowrap;
    overflow:hidden;
    text-transform:uppercase;
    font-family:"deva-ideal-1",arial,sans-serif;
    text-shadow:#fdfdfd 1px 1px 1px;
    font-weight:100;
  }

  #page-top nav {
    margin-top: 13px;
  }

/* toolbar header */
  header#toolbar {
    height:28px;
    border-bottom:solid 1px #c9c9c9;
    text-shadow:#fdfdfd 1px 1px 1px;
    background:#dee0e1;
  }

  #toolbar h3 {
    display:block;
    height:28px;
    font-size:110%;
    padding-top:5px;
    white-space:nowrap;
    overflow:hidden;
  }

  #toolbar #navigation-links {
    width:230px;
  }

  #toolbar #navigation-links h3 {
    float:left;
    background:-webkit-gradient(linear, left top, left bottom, from(#eff1f2), to(#cdcdcd)); 
    background:-moz-linear-gradient(top,  #eff1f2,  #cdcdcd); 
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eff1f2', endColorstr='#cdcdcd');
    padding:0;
    margin:0;
  }

  #toolbar #navigation-links h3 a {
    text-shadow:#fdfdfd 1px 1px 1px;
    color:#4d4d4d; 
    text-decoration:none; 
    display:block;
    height:28px;
    padding:5px 0 0 10px;
    border-right:solid 1px #b3b3b3;
  }

  #toolbar #navigation-links h3 a:active {
    color: #2d2d2d;
    background: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#adadad));
    background: -moz-linear-gradient(top, #dddddd, #adadad);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#adadad');
    position:relative;
    top:1px;
    -moz-box-shadow:inset 1px 1px 3px #adadad; 
    -webkit-box-shadow:inset 1px 1px 3px #adadad; 
    box-shadow:inset 1px 1px 3px #adadad; 
  }

  #toolbar #navigation-links h3.inactive a {
    color:#9d9d9d; 
    text-shadow:#dddddd 1px 1px 1px;
  }

  #toolbar #navigation-links h3 a:hover {
    background:#ededed;
    background:-webkit-gradient(linear, left top, left bottom, from(#ededed), to(#bdbdbd));
    background:-moz-linear-gradient(top,  #ededed,  #bdbdbd);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bdbdbd');
  }

/* sidebar */
  body.has-sidebar {
    background:url(../images/sidebar_bg.gif) 0 0 repeat-y;
  } 

  div#sidebar {
    width:230px;
    overflow:hidden;
    margin-top:10px;
  }

/* sidebar search form */
  div#sidebar form {
    margin:0 0 10px 10px;
  }

  div#sidebar form div {
    background:#fafafa url(../images/search_icon.png) 6px 4px no-repeat;
    width:208px;
    height:24px;
    border:1px solid #999999; 
    -webkit-border-radius:8px; 
    -moz-border-radius:8px; 
    border-radius:8px; 
  }

  ::-webkit-search-decoration {
    display:none;
  }

  div#sidebar form input {
    border:0;
    border-color:transparent;
    outline:none;
    background:none;
    margin:0;
    width:184px;
    font-size:115%;
    padding:4px 0 0 24px;
    color:#8d8d8d;
    font-family:"deva-ideal-1",arial,sans-serif;
    -webkit-appearance:textfield; /* get rid of webkit default search styles */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }

  div#sidebar div.organization {
    margin:10px 10px 10px 10px;
    width:200px;
    padding:4px;
    position:relative;
    border:solid 1px #c2c2c2;
    -webkit-border-radius:3px; 
    -moz-border-radius:3px; 
    border-radius:3px; 
    background:#f1f1f1;
    overflow:hidden;
  }

  #sidebar div.organization h1 {
    font-size:140%;
    width:185px;
    overflow:hidden;
  }

  #sidebar div.organization div {
    margin-top:10px;
  }

  #sidebar div.organization img {
    margin:10px auto 0 auto;
    display:block;
  }

  #sidebar div.organization .status {
    background:#e1e1e1;
    color:#2d2d2d;
    padding:5px;
    -webkit-border-radius:3px; 
    -moz-border-radius:3px; 
    border-radius:3px; 
  }

  #sidebar div.organization a {
    display:inline;
    margin:0;
    padding:0;
  }

  #sidebar div.organization a.close {
    position:absolute; 
    top:0px;
    right:0px;
    display:block;
    width:15px;
    height:15px
    font-size:12px;
    background: #c2c2c2;
    margin:0;
    text-align:center;
  }

  #sidebar h3 {
    display:block;
    /*height:23px;*/
    color: #2d2d2d;
    text-shadow:#fdfdfd 1px 1px 1px;
    background:-webkit-gradient(linear, left top, left bottom, from(#eff1f2), to(#cdcdcd)); 
    background:-moz-linear-gradient(top,  #eff1f2,  #cdcdcd); 
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eff1f2', endColorstr='#cdcdcd');
    padding:5px 0 5px 10px;
    margin:10px 0 10px 0;
    font-size:110%;
    border-bottom:solid 1px #c9c9c9;
    border-right:solid 1px #cccccc;
  }

  #sidebar a {
    display:block;
    margin: 0 5px .4em 10px;
    color:#4c4c4c;
  }

  #sidebar a.active {
    font-weight:bolder;
  }

  #sidebar a:hover {
    color:#4c4c4c;
  }

/* content */
  #content .flash li {
    margin: 1em;
  }

  #content section.profile p {
    margin-bottom:1em;
  } 

  #content section.vevent, #content section.profile article, #content section.vcard {
    padding:2em; 
  }

  #content section.blurb {
    height:300px;
    overflow:hidden;
  }

  #content section.blurb .description {
    position:absolute;
    top:145px;
    left:815px;
    max-height:260px;
    max-width:400px;
    padding:5px;
    border:2px solid black;
    background-color: white;
    overflow:auto;
  }

  .cssgradients #content .profile, .cssgradients #content .recommended-events {
    background:-webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#cfcfcf)); 
    background:-moz-linear-gradient(top,  #f2f2f2,  #cfcfcf); 
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#cfcfcf');
  }

  #content section.profile article .status {
    padding:1em; 
    border:solid 1px #cccccc;
    width:66%;
    margin:1em 0;
    -webkit-border-radius:12px; 
    -moz-border-radius:12px; 
    border-radius:12px; 
  }

  #content img.float-left {
    border:1px solid #7c7570;
    -moz-box-shadow: 1px 1px 4px #7c7570; 
    -webkit-box-shadow: 1px 1px 4px #7c7570; 
    box-shadow: 1px 1px 4px #7c7570; 
    float:left;
    margin:0 0 2em 0;
    max-width:300px;
    max-height:300px;
  }

  #content .fill-right {
    margin-left:300px;
    padding-left:2em;
  }

  #content section.profile h1 {
    font-weight:100;
    font-size:220%;
  }

  #content section#about h1 {
    display:block;
    width:256px;
    height:52px;
    background:url(../images/lokalite_big_logo.png) bottom left repeat-x;
  }

  #content table.lokalites td {
    padding:1em 0 1em 1em;
  }

  #content table.lokalites img {
    border:solid 20px #2a2a2a;
    -webkit-border-bottom-left-radius:12px; 
    -moz-border-radius-bottomleft:12px; 
    border-bottom-left-radius:12px; 
  }

  #content table.lokalites td div {
    margin-bottom:1em;
  }

  #content section.profile h1.smaller {
    font-size:130%;
  }

  #content section.profile h2 {
    position: relative;
    top:10px;
    font-weight:100;
    font-size:150%;
    min-width:200px;
    max-width:200px;
    max-height: 200px;
    border:2px solid black;
    background-color: white;
    padding:5px;
    overflow:auto;
  }

  #content section.vevent h2 {
    font-style:italic;
  }

  #content section#about h2 {
    font-size:225%;
  }
/* TTD h3 was removed due to everything being under h2 Paul*/
  #content section.profile h3 {
    font-weight:100;
    font-size:120%;
  }

  #content section.profile nav {
    margin-top:1em;
    height:20px;
    max-width:200px;
  }

  #content section.profile nav .button {
    display:block;
    float:left;
    height:20px;
    margin-right:5px;
    line-height:20px;
  }

  #content section.profile nav .sharethis {
    float:left;
  }

  #content table.search-results, #content table.recommended-events {
    width:100%; 
    text-align:left;
    border-top:solid 1px #adaeae;
  }
  
  #content table {
    border-collapse:separate;
  }

  #content table th, .search-results td, .profile h4 {
    line-height:27px;
    baseline:20%;
    padding-left:10px;
    text-align:left;
  }

  #content table th, .profile h4 {
    background:#dee0e1;
    height:27px;
    border-top:solid 1px #f3f3f3;
    border-left:solid 1px #f3f3f3;
    border-right:solid 1px #adaeae;  
    border-bottom:solid 1px #adaeae;  
    text-shadow:#fdfdfd 1px 1px 1px;
  }

  .profile h4 {
    display:block;
  }

  .search-results td a, .search-results th a {
    display:block;
  }

  .search-results a:hover {
    text-decoration:none;
  }

  #content table tr:nth-child(odd) {
    background-color:#f2f2f2;
  }

  #content .search-results tr:hover {
    background-color:#cccccc;
  } 

  #content .search-results tr.active {
    background-color:#fdfda7;
  } 

  #content .search-results tr.huge:hover {
    background-color:transparent; 
  }

  #content .search-results tr.huge td {
    font-size: 140%;
    padding:1em;
  }

  #content .search-results tr.huge a {
    display:inline;
  }


  .recommended-events td { 
    width:33%;
    padding:2em;
  }

  .recommended-events td:hover {
    text-decoration:none;
    cursor:pointer;
  }

  .recommended-events td:hover {
    background:#eeeeee;
  }

  .recommended-events img {
    float:left;
    width:50px;
    height:50px;
  }

  .recommended-events header {
    margin-left:60px;
  }

  .recommended-events header h5 {
    font-weight:bolder;
    line-height:1.4em;
  }

  .recommended-events header h6 {
    font-weight:lighter;
    font-size:95%;
  }
  
  .recommended-events header h6 time {
    font-style:italic;
  }

  #content nav#pagination {
    font-weight: bold;
    text-align: center;
    margin: 1em 0;
  }

  #content #pagination a, #content #pagination a:hover {
    color: #444; 
  }

  #content nav#organizations-nav {
    margin-top:3em;
  }

  #content nav#organizations-nav a.button {
    display:block;
    height:45px;
    font-size:140%;
    line-height:2.5em;
    baseline:10%;
    padding:0 15px;
    overflow:hidden;
    -webkit-border-radius:12px; 
    -moz-border-radius:12px; 
    border-radius:12px; 
    -moz-box-shadow: 1px 1px 2px #c9c9c9; 
    -webkit-box-shadow: 1px 1px 2px #c9c9c9; 
    box-shadow: 1px 1px 2px #c9c9c9; 
  }

  #content nav#organizations-nav a.yellow {
    background:#fdfda7;
    border:1px solid #ccccb6;
    width:200px;
    margin:auto;
  }

  #content nav#organizations-nav a.yellow:active, #content nav#organizations-nav a.yellow:hover {
    border:1px solid #999965;
  }

  #content nav#organizations-nav table {
    margin:auto;
    border-collapse:collapse;
  }

  #content nav#organizations-nav table tr {
    background:none;
  }

  #content nav#organizations-nav table th { 
    background: none;
    text-align:right;
    font-size:200%;
    vertical-align:middle;
  }

  #organizations-nav table td, #organizations-nav table th {
    padding:.5em;
    border:none;
    border-bottom:1px solid #ccccb6;
  }

  #organizations-nav td:last-child {
    border:none;
  }

  .pagination {
    background-color:#fefedf;
  }

/* footer */
  footer {
    background:url(../images/bottom_bar_bg.png) bottom left repeat-x;
    color:#999999; 
    font-size:90%;
  }

  footer span, footer nav {
    display:block;
    float:left;
    margin:15px 0 0 20px;
  } 

  footer a, footer a:active, footer a:visited {
    color:#999999; 
    text-decoration:none; 
    margin-right:15px;
  }

  footer a:hover {
    color:#494949;
  }

/* flash */

  .flash {
    margin: auto;
    padding: 0;
  } 
  .info, .success, .error, .notice {
    border: 0;
   }
  .flash .message {
    color: inherit;
  }
  .flash .message a {
    color: inherit;
  }
  .flash li {
    list-style: none;
    margin-bottom: 1em;
/*
    -webkit-border-bottom-left-radius:12px; 
    -moz-border-radius-bottomleft:12px; 
    border-bottom-left-radius:12px; 
*/
  }
  .flash .dismiss {
    margin-top: 0.5em;
    display: block;
    font-style: italic;
  }
  .flash .dismiss:before {
    /* content: " \2014 " */
    content: "["
  }
  .flash .dismiss:after {
    content: "]"
  }
  .flash .info {
    border: 1px solid #d5edf8;
    background-color: white;
  }
  .flash .notice {
    border: 1px solid #fff6bf;
  }
  .flash .error {
    border: 1px solid #fce7e8;
  }
  .flash .success {
  }


/* forms */

/* 
  A special hack is included for IE8 since it does not apply padding correctly on fieldsets
 */ 
  label       { font-weight: bold; }
  fieldset    { padding:0 1.4em 1.4em 1.4em; margin: 0 0 1.5em 0; border: 1px solid #ccc; }
  legend      { font-weight: bold; font-size:1.2em; margin-top:-0.2em; margin-bottom:1em; }

  fieldset, #IE8#HACK { padding-top:1.4em; } 
  legend, #IE8#HACK { margin-top:0; margin-bottom:0; }

/* Form fields
-------------------------------------------------------------- */

/* 
  Attribute selectors are used to differentiate the different types of input
  elements, but to support old browsers, you will have to add classes for each
  one. ".title" simply creates a large text  field, this is purely for looks.
*/
  input[type=text], input[type=password],
  input.text, input.title,
  textarea {
    background-color:#fff;
    border:1px solid #bbb;
  }
  input[type=text]:focus, input[type=password]:focus,
  input.text:focus, input.title:focus,
  textarea:focus {
    border-color:#666;
  }
/*
  select { background-color:#fff; border-width:1px; border-style:solid; }
*/

  input[type=text], input[type=password],
  input.text, input.title,
/*
  textarea, select {
    margin:0.5em 0;
  }
*/

  input.text,
  input.title   { width: 300px; padding:5px; }
  input.title   { font-size:1.5em; }
  textarea      { width: 100px; height: 100px; padding:5px; }

/* 
  This is to be used on forms where a variety of elements are placed
  side-by-side. Use the p tag to denote a line. 
*/
  form.inline { line-height:3; }
  form.inline p { margin-bottom:0; }


/* Success, info, notice and error/alert boxes
-------------------------------------------------------------- */

/*
  .flash .error,
  .flash .alert, 
  .flash .notice,
  .flash .success, 
  .flash .info       { padding: 2em; margin-bottom: 1em; border:12px solid #4d4d4d;}

  .error, .alert { background: #fbe3e4; color: #8a1f11; border-color: #4d4d4d; }
  .notice     { background: #fff6bf; color: #514721; border-color: #4d4d4d; }
  .success    { background: #e6efc2; color: #264409; border-color: #4d4d4d; }
  .info       { background: #d5edf8; color: #205791; border-color: #4d4d4d; }
  .error a, .alert a { color: #8a1f11; }
  .notice a   { color: #514721; }
  .success a  { color: #264409; }
  .info a     { color: #205791; }
*/
  .flash .error,
  .flash .alert, 
  .flash .notice,
  .flash .success, 
  .flash .info  { padding: 2em; margin-bottom: 1em; border:2px solid #4d4d4d;}

  .error, .alert { background: #fbe3e4; color: #8a1f11; border-color: #4d4d4d; }
  .notice     { background: #fff6bf; color: #514721; border-color: #4d4d4d; }
  .success    { background: #e6efc2; color: #264409; border-color: #4d4d4d; }
  .info       { background: #d5edf8; color: #205791; border-color: #4d4d4d; }
  .error a, .alert a { color: #8a1f11; }
  .notice a   { color: #514721; }
  .success a  { color: #264409; }
  .info a     { color: #205791; }


/* app forms */

  form.app {
    background-color: #eeeeee;
    text-align: left;
    padding: 1em;
    margin: 1em;
    margin-top: 2em;
/*
    border: 20px solid #4d4d4d;
    -webkit-border-bottom-left-radius:12px; 
    -moz-border-radius-bottomleft:12px; 
    border-bottom-left-radius:12px; 
*/
  }
  #facebox form.app {
    background-color: inherit;
  }
  form.app.small {
    width: 30%;
  }
  form.app.half {
    width: 50%;
  }
  form.app.medium {
    width: 60%;
  }
  form.app.large {
    width: 90%;
  }
  form.app fieldset {
    border: 0px;
/*
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
*/
    border: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 1em;
  }
  form.app legend {
    color: #666;
    font-weight: normal;
    font-style: italic;
  }
  form.app label {
    display: inline-block;
    margin-top: 1em;
    color: #666;
  }
  form.app input.text,
  form.app input.password
	
  {
    margin-top: 4.2px;
    padding: 4.2px;
    width: 62%;
  }

  form.app textarea
  {
    width: 62%;
  }
  form.ap hr {
    border: 0px;
    border-bottom: 1px solid #999;
  }
  form.app .disabled {
    opacity: 0.70;
  }
  form.app .instructions {
    margin-top: 1em;
    color: #666;
    font-style: italic; 
  }
  form.app .errors {
    margin-top: 1em;
    color: #933;
  }
  form.app select {
    margin-top: 0.5em;
  }
  form.app select option {
    height: 1.2em;
  }
  #content table.layout tr:nth-child(odd) {
    background-color:transparent;
  }

/* date inputs */
   form.app input.date {
     width: 10em;
   }
   form.app input.time {
     width: 10em;
   }

/* raptcha */

  form.app input.raptcha-input {
    /*border: 0px solid red;*/
    width: 222px;
    height: 42px;
    padding: 10px;
    font-size: 2em;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }
  form.app img.raptcha-image {
    margin: 0.5em 0em;
    border: 1px solid #f0f0f0;
  }


/* dao errors */

  table.dao.errors {
    font-weight: normal;
    width: 100%;
    margin-bottom: 2em;
  }
  table.dao.errors caption {
    font-weight: bold;
    color: #333;
    font-style: italic;
    text-align: left;
    margin-bottom: 0.5em;
  }
  table.dao.errors td.key {
    padding-left: 1em;
    color: #666;
  }
  table.dao.errors td.separator {
    color: #666;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  table.dao.errors td.message {
    font-style: italic;
    width: 100%;
  } 
