h1.huge, h1.big, h2.big { text-align: center; }

h1.huge { font-size: 46px; margin-bottom: 10px; }

h1.big { font-size: 38px; margin-bottom: 10px; }

h2.big { font-size: 20px; font-weight: normal; color: gray; margin-bottom: 20px; }

h1, h2, h3 { color: #444444; }

h1 { font-size: 24px; }

h2 { font-size: 20px; }

h3 { font-size: 16px; }

h1 span.edit a { font-size: 12px; text-decoration: none; }
h1 span.edit a:hover { text-decoration: underline; }

a { color: #607890; }
a:visited { color: #607890; }
a:hover { color: #48596b; }
a:active { color: #374553; }

ul.buttons { margin: 0; padding: 0; border: 0; overflow: hidden; *zoom: 1; margin-top: 10px; }
ul.buttons li { list-style-image: none; list-style-type: none; margin-left: 0px; white-space: nowrap; display: inline; float: left; padding-left: 10px; padding-right: 10px; }
ul.buttons li:first-child, ul.buttons li.first { padding-left: 0; }
ul.buttons li:last-child { padding-right: 0; }
ul.buttons li.last { padding-right: 0; }
ul.buttons li { padding: 10px; }
ul.buttons li a { color: inherit; text-decoration: inherit; cursor: inherit; border: 1px solid #cccccc; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ebebeb)); background-image: -webkit-linear-gradient(top, #ffffff, #ebebeb); background-image: -moz-linear-gradient(top, #ffffff, #ebebeb); background-image: -o-linear-gradient(top, #ffffff, #ebebeb); background-image: -ms-linear-gradient(top, #ffffff, #ebebeb); background-image: linear-gradient(top, #ffffff, #ebebeb); text-shadow: white 1px 1px 1px; font-size: 14px; padding: 8px 10px; margin-right: 6px; }
ul.buttons li a:active, ul.buttons li a:focus { outline: none; }
ul.buttons li a:hover { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dbdbdb)); background-image: -webkit-linear-gradient(top, #ffffff, #dbdbdb); background-image: -moz-linear-gradient(top, #ffffff, #dbdbdb); background-image: -o-linear-gradient(top, #ffffff, #dbdbdb); background-image: -ms-linear-gradient(top, #ffffff, #dbdbdb); background-image: linear-gradient(top, #ffffff, #dbdbdb); }

a.button { color: inherit; text-decoration: inherit; cursor: inherit; border: 1px solid #cccccc; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ebebeb)); background-image: -webkit-linear-gradient(top, #ffffff, #ebebeb); background-image: -moz-linear-gradient(top, #ffffff, #ebebeb); background-image: -o-linear-gradient(top, #ffffff, #ebebeb); background-image: -ms-linear-gradient(top, #ffffff, #ebebeb); background-image: linear-gradient(top, #ffffff, #ebebeb); text-shadow: white 1px 1px 1px; font-size: 14px; padding: 8px 10px; margin-right: 6px; }
a.button:active, a.button:focus { outline: none; }
a.button:hover { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dbdbdb)); background-image: -webkit-linear-gradient(top, #ffffff, #dbdbdb); background-image: -moz-linear-gradient(top, #ffffff, #dbdbdb); background-image: -o-linear-gradient(top, #ffffff, #dbdbdb); background-image: -ms-linear-gradient(top, #ffffff, #dbdbdb); background-image: linear-gradient(top, #ffffff, #dbdbdb); }

body { font-family: Helvetica, Arial, Verdana, sans-serif; }
body > header { background-color: #222222; background-color: #222222; background-repeat: repeat-x; background-image: -khtml-gradient(linear, left top, left bottom, from(#333333), to(#222222)); background-image: -moz-linear-gradient(top, #333333, #222222); background-image: -ms-linear-gradient(top, #333333, #222222); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #222222)); background-image: -webkit-linear-gradient(top, #333333, #222222); background-image: -o-linear-gradient(top, #333333, #222222); background-image: linear-gradient(top, #333333, #222222); color: white; }
body > header .content { width: 1140px; margin: 0 auto; padding: 0 10px; }
body > header .content .logo-wrap { display: inline; float: left; width: 190px; }
body > header .content .logo { display: block; text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('/images/header-logo.png?1319478045'); background-repeat: no-repeat; background-position: 50% 50%; width: 124px; height: 53px; }
body > header .content form { display: inline; float: left; width: 150px; position: relative; filter: alpha(opacity=100); -khtml-opacity: 1; -moz-opacity: 1; opacity: 1; }
body > header .content .search { display: inline-block; width: 190px; background-color: #444444; background-color: rgba(255, 255, 255, 0.3); background-image: url(/images/monocle.png); background-repeat: no-repeat; background-position: 164px 50%; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: normal; font-weight: 13px; line-height: 18px; padding: 4px 0; color: white; color: rgba(255, 255, 255, 0.75); border: 1px solid #111111; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.25); -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.25); box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.25); -webkit-appearance: textfield; border-image: initial; -webkit-rtl-ordering: logical; -webkit-user-select: text; cursor: auto; }
body > header .content .search:focus { outline: 0; background-color: #eeeeee; background-image: none; color: #404040; text-shadow: 0 1px 0 white; border: 0; padding: 5px 0; -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15); box-shadow: 0 0 3px rgba(0, 0, 0, 0.15); }
body > header .content .nav { width: 180px; display: block; float: left; margin: 0 10px 0 0; position: relative; left: 0; }
body > header .content .nav > li { display: block; float: left; }
body > header .content .nav a { display: block; float: none; padding: 10px 10px 11px; line-height: 19px; text-decoration: none; color: #bababa; }
body > header .content .nav .user-li { float: left; text-align: right; display: inline-block; padding: 17px 0; height: 25px; vertical-align: top; cursor: pointer; white-space: nowrap; }
body > header .content .nav a.user-img { display: inline-block; width: 25px; height: 25px; vertical-align: top; margin-right: 6px; border: none; cursor: pointer; }
body > header .content .nav a.user-link { cursor: pointer; font-weight: normal; display: inline-block; max-width: 130px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; padding: 0; line-height: 25px; vertical-align: top; }
body > header .content .nav a:hover { color: white; text-decoration: none; }
body > header .content .nav .active > a { background-color: #222222; background-color: rgba(0, 0, 0, 0.5); }
body > header .content .nav.secondary-nav { float: right; margin-left: 10px; margin-right: 0; }
body > header .content .nav.secondary-nav .menu-dropdown, body > header .content .nav.secondary-nav .dropdown-menu { right: 0; border: 0; }
body > header .content .nav a.menu:hover, body > header .content .nav li.open .menu, body > header .content .nav .dropdown-toggle:hover, body > header .content .nav .dropdown.open .dropdown-toggle { background: #444444; background: rgba(255, 255, 255, 0.05); }
body > header .content .nav .menu-dropdown, body > header .content .nav .dropdown-menu { background-color: #333333; }
body > header .content .nav .menu-dropdown a.menu, body > header .content .nav .dropdown-menu a.menu, body > header .content .nav .menu-dropdown .dropdown-toggle, body > header .content .nav .dropdown-menu .dropdown-toggle { color: white; }
body > header .content .nav .menu-dropdown a.menu.open, body > header .content .nav .dropdown-menu a.menu.open, body > header .content .nav .menu-dropdown .dropdown-toggle.open, body > header .content .nav .dropdown-menu .dropdown-toggle.open { background: #444444; background: rgba(255, 255, 255, 0.05); }
body > header .content .nav .menu-dropdown li a, body > header .content .nav .dropdown-menu li a { color: #999999; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); }
body > header .content .nav .menu-dropdown li a:hover, body > header .content .nav .dropdown-menu li a:hover { background-color: #191919; background-repeat: repeat-x; background-image: -khtml-gradient(linear, left top, left bottom, from(#292929), to(#191919)); background-image: -moz-linear-gradient(top, #292929, #191919); background-image: -ms-linear-gradient(top, #292929, #191919); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #292929), color-stop(100%, #191919)); background-image: -webkit-linear-gradient(top, #292929, #191919); background-image: -o-linear-gradient(top, #292929, #191919); background-image: linear-gradient(top, #292929, #191919); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#292929', endColorstr='#191919', GradientType=0); color: white; }
body > header .content .nav .menu-dropdown .active a, body > header .content .nav .dropdown-menu .active a { color: white; }
body > header .content .nav .menu-dropdown .divider, body > header .content .nav .dropdown-menu .divider { background-color: #222222; border-color: #444444; }
body > header .content li.menu, body > header .content .dropdown { position: relative; }
body > header .content a.menu:after, body > header .content .dropdown-toggle:after { width: 0; height: 0; display: inline-block; content: "&darr"; text-indent: -99999px; vertical-align: top; margin-top: 8px; margin-left: 4px; border-left: 4px solid transparent; border-right: 4px solid transparent; border-top: 4px solid white; filter: alpha(opacity=50); -khtml-opacity: 0.5; -moz-opacity: 0.5; opacity: 0.5; }
body > header .content .menu-dropdown, body > header .content .dropdown-menu { background-color: white; float: left; display: none; position: absolute; top: 40px; z-index: 900; min-width: 160px; max-width: 220px; _width: 160px; margin-left: 0; margin-right: 0; padding: 6px 0; zoom: 1; border-color: #999999; border-color: rgba(0, 0, 0, 0.2); border-style: solid; border-width: 0 1px 1px; -webkit-border-radius: 0 0 6px 6px; -moz-border-radius: 0 0 6px 6px; border-radius: 0 0 6px 6px; -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); -webkit-background-clip: padding-box; -moz-background-clip: padding-box; background-clip: padding-box; }
body > header .content .menu-dropdown li, body > header .content .dropdown-menu li { float: none; display: block; background-color: none; }
body > header .content .menu-dropdown .divider, body > header .content .dropdown-menu .divider { height: 1px; margin: 5px 0; overflow: hidden; background-color: #eeeeee; border-bottom: 1px solid white; }
body > header .content .dropdown-menu a { display: block; padding: 4px 15px; clear: both; font-weight: normal; line-height: 18px; color: gray; text-shadow: 0 1px 0 white; }
body > header .content .dropdown-menu a:hover { background-color: #dddddd; background-repeat: repeat-x; background-image: -khtml-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd)); background-image: -moz-linear-gradient(top, #eeeeee, #dddddd); background-image: -ms-linear-gradient(top, #eeeeee, #dddddd); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #dddddd)); background-image: -webkit-linear-gradient(top, #eeeeee, #dddddd); background-image: -o-linear-gradient(top, #eeeeee, #dddddd); background-image: linear-gradient(top, #eeeeee, #dddddd); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd', GradientType=0); color: #404040; text-decoration: none; -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.025), inset 0 -1px rgba(0, 0, 0, 0.025); -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.025), inset 0 -1px rgba(0, 0, 0, 0.025); box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.025), inset 0 -1px rgba(0, 0, 0, 0.025); }
body > header .content .open .menu, body > header .content .dropdown.open .menu, body > header .content .open .dropdown-toggle, body > header .content .dropdown.open .dropdown-toggle { color: white; background: #cccccc; background: rgba(0, 0, 0, 0.3); }
body > header .content .open .menu-dropdown, body > header .content .dropdown.open .menu-dropdown, body > header .content .open .dropdown-menu, body > header .content .dropdown.open .dropdown-menu { display: block; }
body .centered { text-align: center; margin: 0 auto; padding: 0 0 15px; }
body #left-sidebar .centered { margin-top: 10px; }
body #left-sidebar .centered .btn { padding-left: 0; padding-right: 0; width: 98%; }
body > footer .content { width: 1140px; margin: 0 auto; padding: 0 10px; overflow: hidden; *zoom: 1; padding-bottom: 10px; }
body > footer .content nav { display: inline; float: left; }
body > footer .content nav ul { margin: 0; padding: 0; border: 0; overflow: hidden; *zoom: 1; }
body > footer .content nav ul li { list-style-image: none; list-style-type: none; margin-left: 0px; white-space: nowrap; display: inline; float: left; padding-left: 4px; padding-right: 4px; }
body > footer .content nav ul li:first-child, body > footer .content nav ul li.first { padding-left: 0; }
body > footer .content nav ul li:last-child { padding-right: 0; }
body > footer .content nav ul li.last { padding-right: 0; }
body > footer .content .copyright { display: inline; float: right; }
body #main { width: 1140px; margin: 0 auto; padding: 0 10px; overflow: hidden; *zoom: 1; }
body #main #middle { background-color: white; background-image: url('/images/main-bg.png?1319478045'); background-repeat: repeat; }

#left-sidebar, #right-sidebar, #middle { display: inline; float: left; padding: 16px 0; }

#left-sidebar, #right-sidebar { width: 180px; }
#left-sidebar h3, #right-sidebar h3 { font-size: 14px; margin-bottom: 6px; }

#left-sidebar { padding-right: 10px; }
#left-sidebar ul.categories li { font-size: 12px; margin-bottom: 8px; background-position: 2px top; background-repeat: no-repeat; }
#left-sidebar ul.categories li a { text-decoration: none; display: block; width: 100%; padding-top: 3px; height: 17px; padding-left: 26px; }
#left-sidebar ul.categories li:hover { background-position: 2px bottom; }
#left-sidebar ul.categories li.active { background-color: black; background-position: 2px bottom; }
#left-sidebar ul.categories li.active a { color: white; }
#left-sidebar ul.categories .all_events { background-image: url('/images/category-icons/all_events.png?1319478045'); }
#left-sidebar ul.categories .all_places { background-image: url('/images/category-icons/all_places.png?1319478045'); }
#left-sidebar ul.categories .featured { background-image: url('/images/category-icons/featured.png?1319478045'); }
#left-sidebar ul.categories .most_popular { background-image: url('/images/category-icons/most_popular.png?1319478045'); }
#left-sidebar ul.categories .happy_hour { background-image: url('/images/category-icons/happy_hour.png?1319478045'); }
#left-sidebar ul.categories .campus { background-image: url('/images/category-icons/campus.png?1319478045'); }
#left-sidebar ul.categories .food_and_dining { background-image: url('/images/category-icons/food_and_dining.png?1319478045'); }
#left-sidebar ul.categories .music_and_the_arts { background-image: url('/images/category-icons/music_and_the_arts.png?1319478045'); }
#left-sidebar ul.categories .nightlife { background-image: url('/images/category-icons/nightlife.png?1319478045'); }
#left-sidebar ul.categories .shopping { background-image: url('/images/category-icons/shopping.png?1319478045'); }
#left-sidebar ul.categories .restaurants_and_bars { background-image: url('/images/category-icons/restaurants_and_bars.png?1319478045'); }
#left-sidebar ul.categories .coffee_and_tea { background-image: url('/images/category-icons/coffee_and_tea.png?1319478045'); }
#left-sidebar ul.categories .arts_and_entertainment { background-image: url('/images/category-icons/arts_and_entertainment.png?1319478045'); }
#left-sidebar ul.categories .services { background-image: url('/images/category-icons/services.png?1319478045'); }
#left-sidebar ul.categories .beer_wine_and_spirits { background-image: url('/images/category-icons/beer_wine_and_spirits.png?1319478045'); }
#left-sidebar ul.categories .sports_and_fitness { background-image: url('/images/category-icons/sports_and_fitness.png?1319478045'); }
#left-sidebar ul.categories .health_and_beauty { background-image: url('/images/category-icons/health_and_beauty.png?1319478045'); }
#left-sidebar ul.categories .community { background-image: url('/images/category-icons/community.png?1319478045'); }
#left-sidebar ul.categories .non-profit { background-image: url('/images/category-icons/non-profit.png?1319478045'); }
#left-sidebar ul.categories .tours_and_tastings { background-image: url('/images/category-icons/tours_and_tastings.png?1319478045'); }
#left-sidebar ul.categories .learn_something_new { background-image: url('/images/category-icons/learn_something_new.png?1319478045'); }
#left-sidebar ul.categories .mmj { background-image: url('/images/category-icons/mmj.png?1319478045'); }

.half { float: left; width: 48%; }

.ext { float: right; }

.ptn, .pvn, .pan { padding-top: 0px !important; }

.pts, .pvs, .pas { padding-top: 5px !important; }

.ptm, .pvm, .pam { padding-top: 10px !important; }

.ptl, .pvl, .pal { padding-top: 20px !important; }

.prn, .phn, .pan { padding-right: 0px !important; }

.prs, .phs, .pas { padding-right: 5px !important; }

.prm, .phm, .pam { padding-right: 10px !important; }

.prl, .phl, .pal { padding-right: 20px !important; }

.pbn, .pvn, .pan { padding-bottom: 0px !important; }

.pbs, .pvs, .pas { padding-bottom: 5px !important; }

.pbm, .pvm, .pam { padding-bottom: 10px !important; }

.pbl, .pvl, .pal { padding-bottom: 20px !important; }

.pln, .phn, .pan { padding-left: 0px !important; }

.pls, .phs, .pas { padding-left: 5px !important; }

.plm, .phm, .pam { padding-left: 10px !important; }

.pll, .phl, .pal { padding-left: 20px !important; }

.mtn, .mvn, .man { margin-top: 0px !important; }

.mts, .mvs, .mas { margin-top: 5px !important; }

.mtm, .mvm, .mam { margin-top: 10px !important; }

.mtl, .mvl, .mal { margin-top: 20px !important; }

.mrn, .mhn, .man { margin-right: 0px !important; }

.mrs, .mhs, .mas { margin-right: 5px !important; }

.mrm, .mhm, .mam { margin-right: 10px !important; }

.mrl, .mhl, .mal { margin-right: 20px !important; }

.mbn, .mvn, .man { margin-bottom: 0px !important; }

.mbs, .mvs, .mas { margin-bottom: 5px !important; }

.mbm, .mvm, .mam { margin-bottom: 10px !important; }

.mbl, .mvl, .mal { margin-bottom: 20px !important; }

.mln, .mhn, .man { margin-left: 0px !important; }

.mls, .mhs, .mas { margin-left: 5px !important; }

.mlm, .mhm, .mam { margin-left: 10px !important; }

.mll, .mhl, .mal { margin-left: 20px !important; }

#splash { text-align: center; }

#business-sign-up, #public-landing { text-align: center; font-size: 14px; margin-bottom: 60px; }
#business-sign-up h1, #business-sign-up h2, #business-sign-up h3, #public-landing h1, #public-landing h2, #public-landing h3 { color: black; }
#business-sign-up h1, #public-landing h1 { margin: 14px auto; }
#business-sign-up h2, #public-landing h2 { font-size: 24px; font-weight: normal; }
#business-sign-up h3, #public-landing h3 { font-size: 18px; margin-top: 24px; }
#business-sign-up .centered, #public-landing .centered { margin: 30px auto; display: inline-block; }
#business-sign-up .bottom, #public-landing .bottom { margin: 40px auto 0; text-align: left; }
#business-sign-up .checkered, #public-landing .checkered { background-color: white; background-image: url('/images/main-bg.png?1319478045'); background-repeat: repeat; }
#business-sign-up .checkered .shadow-top, #business-sign-up .checkered .shadow-bottom, #public-landing .checkered .shadow-top, #public-landing .checkered .shadow-bottom { background-repeat: repeat-x; height: 10px; width: 100%; }
#business-sign-up .checkered .shadow-top, #public-landing .checkered .shadow-top { background-image: url('/images/landing/shadow-top.png?1319478045'); margin-bottom: 40px; }
#business-sign-up .checkered .shadow-bottom, #public-landing .checkered .shadow-bottom { background-image: url('/images/landing/shadow-bottom.png?1319478045'); margin: 30px 0; }
#business-sign-up .top, #public-landing .top { margin: 0 auto; width: 1120px; }

#public-landing h1.main-title { text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('/images/landing/main-title.png?1319478045'); background-repeat: no-repeat; background-position: 50% 50%; width: 820px; height: 150px; }
#public-landing h1.info { font-size: 46px; font-weight: normal; text-align: center; margin-top: 50px; margin-bottom: 18px; line-height: 1.8em; }
#public-landing h2 { text-align: center; font-size: 40px; margin-top: 14px; }
#public-landing h3 { text-align: center; font-weight: normal; }
#public-landing a.enter { text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('/images/landing/enter.png?1319478045'); background-repeat: no-repeat; background-position: 50% 50%; width: 836px; height: 56px; display: block; margin: 20px auto 10px; }
#public-landing .content-width { width: 1120px; margin: 0 auto; }
#public-landing .browse, #public-landing .share, #public-landing .attend { display: inline; float: left; width: 340px; padding-top: 200px; background-repeat: no-repeat; background-position: top center; }
#public-landing .browse { margin-right: 20px; background-image: url('/images/landing/browse.png?1319478045'); }
#public-landing .share { margin-right: 20px; background-image: url('/images/landing/share.png?1319478045'); }
#public-landing .attend { background-image: url('/images/landing/attend.png?1319478045'); }
#public-landing .events { margin: 10px auto; width: 765px; }
#public-landing .note { font-size: 12px; line-height: 16px; }
#public-landing .checkered .inside { margin: 0 auto; position: relative; width: 1120px; }

#more-added-daily, #of-your-favorite, #our-favorites, #your-favorites { position: absolute; }

.relative-container { position: relative; }

#more-added-daily { text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('/images/landing/more-added-daily.png?1319478045'); background-repeat: no-repeat; background-position: 50% 50%; width: 368px; height: 50px; top: -45px; left: -200px; }

#of-your-favorite { text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('/images/landing/of-your-favorite.png?1319478045'); background-repeat: no-repeat; background-position: 50% 50%; width: 260px; height: 64px; top: -40px; left: -96px; }

#our-favorites { text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('/images/landing/our-favorites.png?1319478045'); background-repeat: no-repeat; background-position: 50% 50%; width: 350px; height: 100px; top: -60px; left: 0px; }

#your-favorites { text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('/images/landing/your-favorites.png?1319478045'); background-repeat: no-repeat; background-position: 50% 50%; width: 420px; height: 82px; top: -36px; left: 800px; }

#business-sign-up h1 { text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('/images/business/main-title.png?1319478045'); background-repeat: no-repeat; background-position: 50% 50%; width: 700px; height: 160px; }
#business-sign-up a.get-started, #business-sign-up a.create-organization { display: block; margin: 20px auto 10px; width: 1120px; }
#business-sign-up a.get-started { text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('/images/business/get-started.png?1319478045'); background-repeat: no-repeat; background-position: 50% 50%; width: 836px; height: 56px; }
#business-sign-up a.create-organization { text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('/images/business/create-your-organization.png?1319478045'); background-repeat: no-repeat; background-position: 50% 50%; width: 836px; height: 56px; }
#business-sign-up .bottom { width: 1120px; }
#business-sign-up .create, #business-sign-up .share, #business-sign-up .grow { display: inline; float: left; width: 310px; padding-top: 200px; background-repeat: no-repeat; background-position: top center; }
#business-sign-up .create { margin-right: 40px; background-image: url('/images/business/create.png?1319478045'); }
#business-sign-up .share { margin-right: 40px; background-image: url('/images/business/share.png?1319478045'); }
#business-sign-up .grow { background-image: url('/images/business/grow.png?1319478045'); }
#business-sign-up .bottom h2 { font-size: 30px; color: black; margin-bottom: 14px; }
#business-sign-up .bottom p { padding: 6px 0; width: 280px; }
#business-sign-up .bottom section { background-repeat: no-repeat; margin-bottom: 60px; }
#business-sign-up .bottom .lokalite-is { background-image: url('/images/business/lokalite-is.png?1319478045'); height: 380px; padding-left: 680px; }
#business-sign-up .bottom .spend-less { background-image: url('/images/business/spend-less.png?1319478045'); background-position: 420px 40px; padding-left: 100px; height: 290px; }
#business-sign-up .bottom .gain-more { background-image: url('/images/business/gain-more.png?1319478045'); height: 313px; padding-left: 680px; }

.category-tab-buttons { margin-bottom: 12px; }
.category-tab-buttons li { float: left; margin-right: 10px; width: 84px; }
.category-tab-buttons li a { text-align: center; display: block; width: 100%; height: 100%; padding: 8px 0; text-decoration: none; border: 1px solid #dddddd; background-color: #dddddd; color: #666666; }
.category-tab-buttons li a.active { color: black; border-color: #83cb4d; background-color: #cbe5cc; font-weight: bold; }

.category-tab-buttons li.last { margin-right: 0; }

.category-icon { display: inline; float: left; text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('/images/category-icons/featured.png?1319478045'); background-repeat: no-repeat; background-position: 50% 50%; width: 20px; height: 40px; background-position: left top; display: block; margin-right: 12px; height: 20px; margin-bottom: 4px; }
.category-icon:hover { background-position: left bottom; }
.category-icon.all_events { background-image: url('/images/category-icons/all_events.png?1319478045'); }
.category-icon.all_places { background-image: url('/images/category-icons/all_places.png?1319478045'); }
.category-icon.featured { background-image: url('/images/category-icons/featured.png?1319478045'); }
.category-icon.most_popular { background-image: url('/images/category-icons/most_popular.png?1319478045'); }
.category-icon.happy_hour { background-image: url('/images/category-icons/happy_hour.png?1319478045'); }
.category-icon.campus { background-image: url('/images/category-icons/campus.png?1319478045'); }
.category-icon.food_and_dining { background-image: url('/images/category-icons/food_and_dining.png?1319478045'); }
.category-icon.music_and_the_arts { background-image: url('/images/category-icons/music_and_the_arts.png?1319478045'); }
.category-icon.nightlife { background-image: url('/images/category-icons/nightlife.png?1319478045'); }
.category-icon.shopping { background-image: url('/images/category-icons/shopping.png?1319478045'); }
.category-icon.restaurants_and_bars { background-image: url('/images/category-icons/restaurants_and_bars.png?1319478045'); }
.category-icon.coffee_and_tea { background-image: url('/images/category-icons/coffee_and_tea.png?1319478045'); }
.category-icon.arts_and_entertainment { background-image: url('/images/category-icons/arts_and_entertainment.png?1319478045'); }
.category-icon.services { background-image: url('/images/category-icons/services.png?1319478045'); }
.category-icon.beer_wine_and_spirits { background-image: url('/images/category-icons/beer_wine_and_spirits.png?1319478045'); }
.category-icon.sports_and_fitness { background-image: url('/images/category-icons/sports_and_fitness.png?1319478045'); }
.category-icon.health_and_beauty { background-image: url('/images/category-icons/health_and_beauty.png?1319478045'); }
.category-icon.community { background-image: url('/images/category-icons/community.png?1319478045'); }
.category-icon.non-profit { background-image: url('/images/category-icons/non-profit.png?1319478045'); }
.category-icon.tours_and_tastings { background-image: url('/images/category-icons/tours_and_tastings.png?1319478045'); }
.category-icon.learn_something_new { background-image: url('/images/category-icons/learn_something_new.png?1319478045'); }
.category-icon.mmj { background-image: url('/images/category-icons/mmj.png?1319478045'); }

.social-icon { display: inline; float: left; text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('/images/social-icons/facebook.png?1319478045'); background-repeat: no-repeat; background-position: 50% 50%; width: 18px; height: 36px; background-position: left top; display: block; margin-right: 12px; height: 18px; margin-bottom: 4px; }
.social-icon:hover { background-position: left bottom; }
.social-icon.twitter-icon { background-image: url('/images/social-icons/twitter.png?1319478045'); }
.social-icon.lokalite-icon { background-image: url('/images/social-icons/lokalite.png'); }
.social-icon.datebook-icon { background-image: url('/images/social-icons/datebook.png?1319826747'); }

.fb_share_size_Small { display: none; }

#right-sidebar { padding-left: 10px; }
#right-sidebar h3 a { text-decoration: none; color: #444444; }
#right-sidebar h3 a:hover { text-decoration: underline; }
#right-sidebar h3 a:hover { color: #607890; }
#right-sidebar ul { margin: 0; list-style: none; }
#right-sidebar ul li { list-style-image: none; list-style-type: none; margin-left: 0px; }
#right-sidebar ul li { overflow: hidden; *zoom: 1; margin-bottom: 10px; }
#right-sidebar ul li a { text-decoration: none; color: black; }
#right-sidebar ul li a:hover { color: #607890; }
#right-sidebar ul li .image { display: inline; float: left; }
#right-sidebar ul li .image img { width: 30px; }
#right-sidebar ul li .details { display: inline; float: left; width: 130px; padding-left: 10px; font-size: 12px; }
#right-sidebar ul li .details .organization { font-size: 10px; }
#right-sidebar .soc-links li { float: left; margin-right: 8px; }

#middle { width: 760px; -moz-box-shadow: 0 0 8px #333333; -webkit-box-shadow: 0 0 8px #333333; -o-box-shadow: 0 0 8px #333333; box-shadow: 0 0 8px #333333; margin-bottom: 25px; -moz-border-radius-bottomleft: 8px; -webkit-border-bottom-left-radius: 8px; -o-border-bottom-left-radius: 8px; -ms-border-bottom-left-radius: 8px; -khtml-border-bottom-left-radius: 8px; border-bottom-left-radius: 8px; -moz-border-radius-bottomright: 8px; -webkit-border-bottom-right-radius: 8px; -o-border-bottom-right-radius: 8px; -ms-border-bottom-right-radius: 8px; -khtml-border-bottom-right-radius: 8px; border-bottom-right-radius: 8px; }

#middle > .content { overflow: hidden; *zoom: 1; padding: 0 25px 10px; }
#middle > .content-with-foreground { overflow: hidden; *zoom: 1; padding: 0 25px 10px; padding: 10px; background-color: white; -moz-box-shadow: 0px 0px 5px #333333; -webkit-box-shadow: 0px 0px 5px #333333; -o-box-shadow: 0px 0px 5px #333333; box-shadow: 0px 0px 5px #333333; }

.middle { float: left; width: 710px; padding: 15px 25px 0; }

.ext { float: right; }

#map_canvas { margin-top: -16px; margin-bottom: -16px; width: 100%; height: 800px; }

.google-maps-custom-button { direction: ltr; overflow: hidden; text-align: center; position: relative; font-family: Arial, sans-serif; -webkit-user-select: none; font-size: 12px; line-height: 160%; padding: 0px 6px; -webkit-box-shadow: rgba(0, 0, 0, 0.348) 2px 2px 3px; box-shadow: rgba(0, 0, 0, 0.348) 2px 2px 3px; min-width: 26px; color: black; border: 1px solid #a9bbdf; padding-left: 6px; font-weight: normal; -moz-border-radius: 2px; -webkit-border-radius: 2px; -o-border-radius: 2px; -ms-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #f3f3f3)); background-image: -webkit-linear-gradient(top, #fefefe, #f3f3f3); background-image: -moz-linear-gradient(top, #fefefe, #f3f3f3); background-image: -o-linear-gradient(top, #fefefe, #f3f3f3); background-image: -ms-linear-gradient(top, #fefefe, #f3f3f3); background-image: linear-gradient(top, #fefefe, #f3f3f3); background-position: initial initial; background-repeat: initial initial; cursor: pointer; cursor: hand; }

.btn { cursor: pointer; display: inline-block; background-color: #e6e6e6; background-repeat: no-repeat; background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), color-stop(25%, white), to(#e6e6e6)); background-image: -webkit-linear-gradient(white, white 25%, #e6e6e6); background-image: -moz-linear-gradient(top, white, white 25%, #e6e6e6); background-image: -ms-linear-gradient(white, white 25%, #e6e6e6); background-image: -o-linear-gradient(white, white 25%, #e6e6e6); background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0); padding: 5px 14px 6px; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); color: #333333; font-size: 13px; line-height: normal; text-decoration: none; border: 1px solid #cccccc; border-bottom-color: #bbbbbb; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -webkit-transition: 0.1s linear all; -moz-transition: 0.1s linear all; -ms-transition: 0.1s linear all; -o-transition: 0.1s linear all; transition: 0.1s linear all; }

.btn:hover { background-position: 0 -15px; color: #333333; text-decoration: none; }

.btn:focus { outline: 1px dotted #666666; }

.btn.primary { color: white; background-color: #749a74; background-repeat: repeat-x; background-image: -khtml-gradient(linear, left top, left bottom, from(#a4c9a4), to(#749a74)); background-image: -moz-linear-gradient(top, #a4c9a4, #749a74); background-image: -ms-linear-gradient(top, #a4c9a4, #749a74); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a4c9a4), color-stop(100%, #749a74)); background-image: -webkit-linear-gradient(top, #a4c9a4, #749a74); background-image: -o-linear-gradient(top, #a4c9a4, #749a74); background-image: linear-gradient(top, #a4c9a4, #749a74); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a4c9a4', endColorstr='#749a74', GradientType=0); text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); border-color: #a4c9a4 #a4c9a4 #516b51; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }

.btn.large { font-size: 15px; line-height: normal; padding: 9px 14px 9px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }

.btn.small { padding: 7px 9px 7px; font-size: 11px; }

.events, .organizations { font-size: 12px; margin: 0; margin-top: -25px; padding-bottom: 10px; }
.events li, .organizations li { background-color: white; -moz-box-shadow: 0px 0px 5px #333333; -webkit-box-shadow: 0px 0px 5px #333333; -o-box-shadow: 0px 0px 5px #333333; box-shadow: 0px 0px 5px #333333; display: inline; float: left; width: 200px; padding: 10px 10px 4px; margin-top: 25px; margin-left: 25px; }
.events li a, .organizations li a { color: inherit; text-decoration: inherit; cursor: inherit; }
.events li a:active, .events li a:focus, .organizations li a:active, .organizations li a:focus { outline: none; }
.events li .image, .organizations li .image { position: relative; width: 202px; }
.events li .image img, .organizations li .image img { border: 1px solid black; }
.events li .image img.profile, .organizations li .image img.profile { display: none; }
.events li .image .close, .organizations li .image .close { display: none; }
.events li .image .description, .organizations li .image .description { position: absolute; bottom: 4px; right: 1px; left: 1px; line-height: 1.6em; background-image: url('/images/transparent-black.png?1319478045'); background-repeat: repeat; color: white; padding: 2px; display: none; }
.events li .image .trend-button, .organizations li .image .trend-button { text-decoration: none; position: absolute; top: 0; left: 0; background-image: url('/images/add-corner.png?1320097158'); background-position: top; width: 52px; height: 52px; }
.events li .image .trend-button:hover, .organizations li .image .trend-button:hover { background-position: -52px; }
.events li .image .trend-button.trended, .organizations li .image .trend-button.trended { background-position: -52px; }
.events li .image .trend-button.trended:hover, .organizations li .image .trend-button.trended:hover { background-position: bottom; }
.events li .image .trend-button .trend-count, .organizations li .image .trend-button .trend-count { display: none; font-style: italic; font-size: 10px; color: white; position: absolute; left: 23px; top: 2px; }
.events li .detail h1, .organizations li .detail h1 { font-size: 14px; }
.events li .detail .organization, .organizations li .detail .organization { font-size: 12px; }
.events li.ui-draggable-dragging .detail, .organizations li.ui-draggable-dragging .detail { display: none; }

.datebook .events .trend-button { display: none; }

#selected-event-list li .detail, #selected-event-list li .trend-button { display: none; }

.help-bubble { background-color: black; background-image: url('/images/header-bg.png?1319478045'); background-repeat: repeat-x; color: white; border: 1px solid #cccccc; font-weight: bold; line-height: 1.6em; padding: 6px 10px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; }

.google_maps_info_window { width: 380px; }
.google_maps_info_window h1 { font-size: 20px; }
.google_maps_info_window h1 a { text-decoration: none; }
.google_maps_info_window .image { display: inline; float: left; padding-left: 8px; }
.google_maps_info_window .image img { border: 1px solid black; }
.google_maps_info_window .info { display: inline; float: left; width: 220px; margin-top: 24px; }
.google_maps_info_window .info .description { line-height: 1.2em; height: 4.8em; }
.google_maps_info_window .info .address { font-size: 11px; font-weight: bold; }
.google_maps_info_window .info table.times { font-size: 11px; margin: 18px 0; }

table.times { margin-top: 10px; font-size: 10px; text-align: left; }
table.times tr { height: 12px; }
table.times th { font-style: italic; font-weight: normal; color: #5d5d5d; }
table.times .time { font-weight: bold; text-align: right; padding: 0 12px; }

header.index { overflow: hidden; *zoom: 1; margin-bottom: 12px; }
header.index h1 { margin: 0 25px; display: inline; float: left; }
header.index .tiled-category-list { margin: 0 25px; color: gray; }
header.index .switch-to-map-view { display: inline; float: right; margin-top: 10px; margin-right: 25px; }

.tiled-pagination { margin: 4px 25px; }

.event, .organization, .plan { overflow: hidden; *zoom: 1; padding: 0 25px 10px; }
.event .title, .organization .title, .plan .title { overflow: hidden; *zoom: 1; margin-bottom: 10px; }
.event .title .title-image, .organization .title .title-image, .plan .title .title-image { display: inline; float: left; margin-right: 10px; }
.event .title .text, .organization .title .text, .plan .title .text { display: inline; float: left; }
.event .title h1, .organization .title h1, .plan .title h1 { font-size: 24px; }
.event .title h2, .organization .title h2, .plan .title h2 { font-size: 16px; font-weight: normal; }
.event .title h2 a, .organization .title h2 a, .plan .title h2 a { text-decoration: none; }
.event .title h2 a:hover, .organization .title h2 a:hover, .plan .title h2 a:hover { text-decoration: underline; }
.event .image, .organization .image, .plan .image { background-color: white; -moz-box-shadow: 0px 0px 5px #333333; -webkit-box-shadow: 0px 0px 5px #333333; -o-box-shadow: 0px 0px 5px #333333; box-shadow: 0px 0px 5px #333333; display: inline; float: left; padding: 10px; }
.event .image img, .organization .image img, .plan .image img { border: 1px solid black; width: 300px; }
.event .detail, .organization .detail, .plan .detail { display: inline; float: left; width: 363px; padding-left: 25px; }
.event dt, .organization dt, .plan dt { font-weight: bold; font-size: 14px; border-bottom: 1px solid #cccccc; margin-bottom: 4px; }
.event dd, .organization dd, .plan dd { margin-bottom: 10px; }
.event dd p, .organization dd p, .plan dd p { padding-bottom: 8px; }
.event .location, .organization .location, .plan .location { margin-top: 8px; }
.event .location .map img, .organization .location .map img, .plan .location .map img { border: 1px solid #dddddd; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; }

.event .detail table.times, .plan .detail table.times { font-size: 13px; }
.event .detail .description, .plan .detail .description { line-height: 1.1em; height: 3.3em; }

.plan-preview { margin-bottom: 25px; }
.plan-preview .title { overflow: hidden; *zoom: 1; margin-bottom: 10px; }
.plan-preview .title .title-image { display: inline; float: left; margin-right: 10px; }
.plan-preview .title .text { display: inline; float: left; }
.plan-preview .title h1 { font-size: 24px; }
.plan-preview .title h1 a { color: inherit; text-decoration: inherit; cursor: inherit; text-decoration: none; }
.plan-preview .title h1 a:active, .plan-preview .title h1 a:focus { outline: none; }
.plan-preview .title h1 a:hover { text-decoration: underline; }
.plan-preview .title h2 { font-size: 16px; font-weight: normal; }
.plan-preview .image { display: inline; float: left; border: 1px solid #dddddd; margin-right: 15px; width: 190px; height: 190px; }
.plan-preview .event-thumbs { display: inline; float: left; width: 132px; margin-right: 5px; }
.plan-preview .event-thumbs img { display: inline; float: left; padding: 2px; background-color: white; border: 1px solid #dddddd; margin: 0 10px 10px 0; }
.plan-preview .detail { display: inline; float: left; width: 230px; margin-right: 5px; }
.plan-preview .detail p { line-height: 1.4em; }
.plan-preview .detail table.times { font-size: 14px; }
.plan-preview .attendee-thumbs { display: inline; float: left; width: 130px; }
.plan-preview .attendee-thumbs dd { display: inline; float: left; background: white; padding: 2px; border: 1px solid #dddddd; margin: 0 5px 5px 0; }
.plan-preview .attendee-thumbs dd img { display: block; margin: 0; padding: 0; }
.plan-preview dt { font-weight: bold; font-size: 14px; border-bottom: 1px solid #cccccc; margin-bottom: 4px; }
.plan-preview dd { margin-bottom: 10px; }
.plan-preview dd p { padding-bottom: 8px; }

.static-controller h1, .static-controller h2 { text-align: center; }
.static-controller h1 { font-size: 46px; margin-bottom: 10px; }
.static-controller h2 { font-size: 20px; font-weight: normal; color: gray; margin-bottom: 20px; }
.static-controller p { padding: 0.5em 0; }

.static-controller .middle p { padding-top: 0; padding-bottom: 0; }

.organization-events hr, .more-events hr { margin-top: 1em; }

.my-organizations-controller table.times { font-size: 13px; margin: 0 0 1em; }
.my-organizations-controller .organization-buttons { text-align: center; }
.my-organizations-controller .organization-buttons ul.buttons { margin: 0 auto 18px; display: inline-block; }

table.event-picker { margin-bottom: 6px; }
table.event-picker td { padding: 6px 4px; }
table.event-picker input[type='checkbox'] { background-color: red; }

.repeating-event-fields { display: none; }

.fb-comments { margin-top: 1em; }

.pagination { text-align: center; padding: 1em; cursor: default; font-size: 1.2em; }
.pagination a, .pagination span { padding: 0.2em 0.3em; }
.pagination .disabled { color: #aaaaaa; }
.pagination .current, .pagination em { font-style: normal; font-weight: bold; background-color: #bebebe; display: inline-block; width: 1.4em; height: 1.4em; line-height: 1.5; -moz-border-radius: 1em; -webkit-border-radius: 1em; border-radius: 1em; text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
.pagination a { text-decoration: none; color: black; }
.pagination a:hover, .pagination a:focus { text-decoration: underline; }

.flash { margin: 0 25px 10px; font-size: 14px; padding: 1em; line-height: 1.4em; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; border-style: solid; border-width: 1px; }
.flash .dismiss { color: inherit; text-decoration: inherit; cursor: inherit; display: inline; float: right; font-size: 20px; font-weight: bold; color: #777777; color: rgba(0, 0, 0, 0.5); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }
.flash .dismiss:active, .flash .dismiss:focus { outline: none; }
.flash p { margin-right: 30px; }
.flash.error { background-color: #f8dcda; border-color: #f4c8c5; }
.flash.notice, .flash.alert { background-color: #fff0c0; border-color: #ffe38d; }
.flash.success { background-color: #dff1df; border-color: #bbe2bb; }
.flash.info { background-color: #c7eefe; border-color: #ade6fe; }

#counter.safe { color: #256c16; }
#counter.over { color: #81080b; }

.clear { width: 100%; height: 1px; margin: 0 0 -1px; clear: both; }

.cf:before { content: ""; display: table; }

.cf:after { content: ""; display: table; }

.cf:after { clear: both; }

.cf { zoom: 1; }

.form { overflow: hidden; *zoom: 1; padding: 0 25px 10px; }
.form h1, .form h2 { text-align: center; }
.form h1 { font-size: 46px; margin-bottom: 10px; }
.form h2 { font-size: 20px; font-weight: normal; color: gray; margin-bottom: 20px; }

form.formtastic input, form.formtastic textarea { background-color: #f1f1f1; border: 1px solid #d7d7d7; padding: 10px; }
form.formtastic input.file, form.formtastic textarea.file { background-color: transparent; padding: 0; border: none; }
form.formtastic input[type=submit] { color: inherit; text-decoration: inherit; cursor: inherit; border: 1px solid #cccccc; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ebebeb)); background-image: -webkit-linear-gradient(top, #ffffff, #ebebeb); background-image: -moz-linear-gradient(top, #ffffff, #ebebeb); background-image: -o-linear-gradient(top, #ffffff, #ebebeb); background-image: -ms-linear-gradient(top, #ffffff, #ebebeb); background-image: linear-gradient(top, #ffffff, #ebebeb); text-shadow: white 1px 1px 1px; font-size: 14px; padding: 8px 10px; margin-right: 6px; }
form.formtastic input[type=submit]:active, form.formtastic input[type=submit]:focus { outline: none; }
form.formtastic input[type=submit]:hover { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dbdbdb)); background-image: -webkit-linear-gradient(top, #ffffff, #dbdbdb); background-image: -moz-linear-gradient(top, #ffffff, #dbdbdb); background-image: -o-linear-gradient(top, #ffffff, #dbdbdb); background-image: -ms-linear-gradient(top, #ffffff, #dbdbdb); background-image: linear-gradient(top, #ffffff, #dbdbdb); }
form.formtastic .align-with-fields { padding-left: 177px; }
form.formtastic .errorExplanation { border-bottom: 1px solid #cccccc; padding-bottom: 1em; margin-bottom: 1em; }
form.formtastic .errorExplanation h2 { color: #cc0000; }
form.formtastic .errorExplanation p { font-weight: bold; }
form.formtastic .errorExplanation ul { margin-top: 1em; list-style: inside disc; }

#event_image_input ol { padding-left: 177px; }
#event_image_input ol li { display: inline; float: left; margin-right: 18px; margin-bottom: 10px; }
#event_image_input ol input { margin-bottom: 18px; }

#repeat-calendar { margin-left: -12px; margin-bottom: 2em; }

form.formtastic .event-repeat { background-color: white; -moz-box-shadow: 0px 0px 5px #333333; -webkit-box-shadow: 0px 0px 5px #333333; -o-box-shadow: 0px 0px 5px #333333; box-shadow: 0px 0px 5px #333333; margin-bottom: 1em; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; display: inline-block; padding: 10px; }
form.formtastic .event-repeat input[type="text"] { background-color: transparent; width: 135px; padding: 4px; }
form.formtastic .event-repeat span.for-text { display: inline-block; margin: 0 8px; }
form.formtastic .event-repeat span.checkbox-wrapper { position: relative; margin-left: 10px; width: 12px; height: 12px; display: inline-block; }
form.formtastic .event-repeat span.checkbox-wrapper input[type="checkbox"] { position: absolute; top: 4px; }

.devise-fields { text-align: center; }
.devise-fields input[type="text"], .devise-fields input[type="email"], .devise-fields input[type="password"] { background-color: #f1f1f1; border: 1px solid #d7d7d7; padding: 10px; width: 100%; }
.devise-fields input[type="text"].file, .devise-fields input[type="email"].file, .devise-fields input[type="password"].file { background-color: transparent; padding: 0; border: none; }
.devise-fields input[type=submit] { color: inherit; text-decoration: inherit; cursor: inherit; border: 1px solid #cccccc; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ebebeb)); background-image: -webkit-linear-gradient(top, #ffffff, #ebebeb); background-image: -moz-linear-gradient(top, #ffffff, #ebebeb); background-image: -o-linear-gradient(top, #ffffff, #ebebeb); background-image: -ms-linear-gradient(top, #ffffff, #ebebeb); background-image: linear-gradient(top, #ffffff, #ebebeb); text-shadow: white 1px 1px 1px; font-size: 14px; padding: 8px 10px; margin-right: 6px; }
.devise-fields input[type=submit]:active, .devise-fields input[type=submit]:focus { outline: none; }
.devise-fields input[type=submit]:hover { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dbdbdb)); background-image: -webkit-linear-gradient(top, #ffffff, #dbdbdb); background-image: -moz-linear-gradient(top, #ffffff, #dbdbdb); background-image: -o-linear-gradient(top, #ffffff, #dbdbdb); background-image: -ms-linear-gradient(top, #ffffff, #dbdbdb); background-image: linear-gradient(top, #ffffff, #dbdbdb); }
.devise-fields div { width: 300px; margin: 0 auto 1em; display: block; text-align: left; }
.devise-fields div.buttons { text-align: center; margin-top: 20px; }

#favorite-categories ol { font-size: 16px; }

#selected-event-list { overflow: hidden; *zoom: 1; background: transparent url(dropzone.png) no-repeat 50% 50%; padding: 1em 0 0; }
#selected-event-list .drag-thumb { position: relative; float: left; margin: 0 14px 1em 0; padding: 5px; background: white; -webkit-border-radius: 0.2em; -moz-border-radius: 0.2em; border-radius: 0.2em; -webkit-box-shadow: 0 0 3px #888888; -moz-box-shadow: 0 0 3px #888888; box-shadow: 0 0 3px #888888; width: auto; }
#selected-event-list .drag-thumb:last-of-type { margin-right: 0; }
#selected-event-list .drag-thumb .image { width: auto; }
#selected-event-list .drag-thumb .image img { display: block; padding: 0; margin: 0; }
#selected-event-list .drag-thumb .image img.medium { display: none; }
#selected-event-list .drag-thumb .close { display: block; position: absolute; top: -5px; right: -4px; z-index: 10; width: 13px; height: 14px; background: transparent url(/images/close.png) no-repeat 50% 50%; text-indent: -9999px; cursor: pointer; opacity: 0.7; filter: alpha(opacity=70); }
#selected-event-list .drag-thumb .close:hover { opacity: 1; filter: alpha(opacity=100); }

.drag-target { text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('/images/dropzone.png?1319478045'); background-repeat: no-repeat; background-position: 50% 50%; width: 200px; height: 90px; margin: 1em auto 2em; padding: 10px; background-color: white; -webkit-box-shadow: 0 0 5px #555555; -moz-box-shadow: 0 0 5px #555555; box-shadow: 0 0 5px #555555; }

.thumb-container { margin: 1em auto; padding: 0 0 0 34px; }

input.placeholder, textarea.placeholder { color: #aaaaaa; }

.chart { background-color: white; border: 1px solid gray; margin-bottom: 2em; }

.profile-header { position: relative; margin: 0 0 25px 0; }
.profile-header .avatar { position: absolute; top: 8px; left: 0; background-color: white; border: 1px solid #444444; padding: 4px; margin: 0 0 0 25px; }
.profile-header .avatar img { display: block; }
.profile-header .band { background-color: #cbe5cc; border: 1px solid #555555; border-left: none; border-right: none; padding: 20px 25px; padding-left: 150px; }
.profile-header .band h1 { font-size: 20px; }
.profile-header .profile-links { margin: 0; padding: 0; border: 0; overflow: hidden; *zoom: 1; margin-top: 8px; }
.profile-header .profile-links li { list-style-image: none; list-style-type: none; margin-left: 0px; white-space: nowrap; display: inline; float: left; padding-left: 10px; padding-right: 10px; }
.profile-header .profile-links li:first-child, .profile-header .profile-links li.first { padding-left: 0; }
.profile-header .profile-links li:last-child { padding-right: 0; }
.profile-header .profile-links li.last { padding-right: 0; }

.datebook { width: 270px; }
.datebook h3 { margin-left: 25px; }
.datebook .help-bubble { width: 200px; margin-left: 25px; }

.datebook, .new-plan-container { display: inline; float: left; }
.datebook h3, .new-plan-container h3 { margin-bottom: 10px; }

.new-plan-container { width: 469px; background-color: #cbe5cc; border: 1px solid #555555; border-top: none; border-right: none; overflow: hidden; *zoom: 1; padding: 10px; margin-top: -25px; }

.new-plan { width: 449px; background-color: #f1f1f1; padding: 10px; margin: 1em auto; border: 1px solid #cccccc; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; }
.new-plan .events li { margin-left: 114.5px; }
.new-plan .events li div { margin-bottom: 0; }
.new-plan .events li p { padding: 6px 10px 4px; line-height: 16px; color: #5d5d5d; }
.new-plan form input[type="text"], .new-plan form textarea { background-color: #f1f1f1; border: 1px solid #d7d7d7; padding: 10px; background-color: white; width: 429px; -moz-box-shadow: #dddddd 0 4px 6px; -webkit-box-shadow: #dddddd 0 4px 6px; -o-box-shadow: #dddddd 0 4px 6px; box-shadow: #dddddd 0 4px 6px; }
.new-plan form input[type="text"].file, .new-plan form textarea.file { background-color: transparent; padding: 0; border: none; }
.new-plan form textarea { height: 70px; }

.plan-invite-modal { width: 450px; }
.plan-invite-modal input { background-color: #f1f1f1; border: 1px solid #d7d7d7; padding: 10px; width: 400px; }
.plan-invite-modal input.file { background-color: transparent; padding: 0; border: none; }

@media only screen and (min-width: 480px) and (max-width: 759px) { header div.content { width: 94%; }
  .middle { width: 300px; } }
