<% content_for(:context) { "Coming soon!" } %>
<section class="profile"><article>
<h1 style="margin-bottom:1em;">This feature is coming soon!</h1> 
 
<p>We're in public beta, and are building out <strong>the next awesome thing</strong> on lokalite <strong>right now</strong>!</p>

<p>Please click everything, often, and soon you will discover that everything is wonderful.</p> 
</article>
</section>
