<p>
  <%= form_tag send("#{active_tab}_path", :origin => params[:origin]), :method => :get do %>
    <%
      value = params[:keywords] || ''
    -%>
    <%= text_field_tag :keywords, value, :type => 'search', :placeholder => "Search #{active_tab.titleize}" %>
    <%# Scope search to selected category if desired %>
    <%#= hidden_field_tag(:category, params[:category]) if params[:category] %>
  <% end %>
</p>

