$form-grey: #f1f1f1
$error-red: #cc0000

.form
  +content-with-padding
  +huge-headers

  // hr

form.formtastic
  input, textarea
    background-color: $form-grey
    border: none
    padding: 10px

    &.file
      background-color: transparent
      padding: 0
  input[type=submit]
    border: 1px solid #ccc
    +border-radius(6px)
    +linear-gradient(color-stops(white, darken(white, 8)))
    text-shadow: white 1px 1px 1px
    font-size: 14px
    &:hover
      +linear-gradient(color-stops(white, darken(white, 14)))


  .align-with-fields
    padding-left: 177px

  .errorExplanation
    border-bottom: 1px solid #CCC
    padding-bottom: 1em
    margin-bottom: 1em
    h2
      color: $error-red
    p
      font-weight: bold

    ul
      margin-top: 1em
      list-style: inside disc

#event_image_input
  ol
    +horizontal-list(10px)
    padding-left: 177px
    input
      margin-bottom: 18px
    img


