$form-grey: #f1f1f1
$error-red: #cc0000

.form
  +content-with-padding
  +huge-headers

  // hr

form.formtastic
  input, textarea
    background-color: $form-grey
    border: 1px solid darken($form-grey, 10)
    padding: 10px

    &.file
      background-color: transparent
      padding: 0
      border: none
  input[type=submit]
    +button

  .align-with-fields
    padding-left: 177px

  .errorExplanation
    border-bottom: 1px solid #CCC
    padding-bottom: 1em
    margin-bottom: 1em
    h2
      color: $error-red
    p
      font-weight: bold

    ul
      margin-top: 1em
      list-style: inside disc

#event_image_input
  ol
    padding-left: 177px
    li
      +float('left')
      margin-right: 18px
      margin-bottom: 10px

    input
      margin-bottom: 18px
    img

#repeat-calendar
  margin-left: -12px
  margin-bottom: 2em

form.formtastic
  .event-repeat
    +foreground
    margin-bottom: 1em
    +border-radius(6px)
    display: inline-block
    padding: 10px
    input[type="text"]
      background-color: transparent
      // border: none
      width: 135px
      padding: 4px
    span.for-text
      display: inline-block
      margin: 0 8px
    span.checkbox-wrapper
      position: relative
      margin-left: 10px
      width: 12px
      height: 12px
      display: inline-block
      input[type="checkbox"]
        position: absolute
        top: 4px
        // margin-top: -20px

form.formtastic
  .signup-fields,
  .login-fields
    text-align: center
    input[type="text"], input[type="password"]
      width: 100%
    div
      width: 300px
      margin: 0 auto 1em
      display: block
      text-align: left


input.placeholder,
textarea.placeholder
  color: #aaa

// Left column search box
#keywords
  width: 100%

