.profile-header
  //margin: 0 0 25px 0
  position: absolute

  .avatar
    //left: 0
    //background-color: white
    //border: 1px solid #444
    //padding: 2px
    margin: 0 0 20px -190px
    //display: inline-block
    img
      display: block
      height: 40px
      width: 40px
    .name
      margin: -25px 0 0 50px
      display: block
      width: 180px
      text-overflow: ellipsis
      overflow: hidden
      max-width: 130px
      //word-wrap: break-word
      vertical-align: middle
      font-weight: bold
      &:hover
        text-decoration: underline

  //.band
    // we don't know how tall the profile pic will be
    // so let it flow down and pull the band up into the picture
    margin-top: -46px
    background-color: $light-green
    border: 1px solid #aaa
    border-left: none
    border-right: none
    padding: 20px 25px 20px 150px
    h1
      font-size: 20px

  .sidebar
    margin: 0 0 0 -190px
    width: 180px

  .profile-links
    margin: 0
    list-style: none 
    li
      width: 100%
      // padding-top: 10px
      // height: 86px
      float: left
      margin-right: 10px
      font-size: 12px
      margin-bottom: 8px
      background-position: 2px top
      background-repeat: no-repeat
      // background: transparent url(/images/profile-icons.png) no-repeat 0 0
      &:hover
        background-color: #f1f1f1
        //background-position: 2px bottom
        border-radius: 3px
        -moz-box-shadow: 0px 0px 1px #555
        -webkit-box-shadow: 0px 0px 1px #555
        -o-box-shadow: 0px 0px 1px #555
        a
          color: black 
    .datebook-icon
      background-image: url(/images/bookmarks.png)     
    .plans-icon
      background-image: url(/images/plans.png) 
    .suggestions-icon
      background-image: url(/images/suggestions.png)      
    .create-event-icon
      background-image: url(/images/create_event.png)    
    .edit-event-icon
      background-image: url(/images/edit_event_icon.png) 
    .add-organization-icon
      background-image: url(/images/add_organization_icon.png)
    .my-businesses-icon
      background-image: url(/images/my_businesses_icon.png)
    .user-list-icon
      background-image: url(/images/user_list.png)
    .add-user-icon
      background-image: url(/images/add_user.png) 
    .manage-featured-icon
      background-image: url(/images/manage_featured.png)
    .approve-events-icon
      background-image: url(/images/approve_events.png)
    a
      display: block
      //padding-top: 95px
      //text-align: center
      text-decoration: none
      color: #555
      width: 100%
      padding-top: 3px
      height: 17px
      padding-left: 26px
      +link-colors($header-grey, darken($light-green, 40), darken($light-green, 50), $header-grey)
    .active
      a
        cursor: default
        color: #000 


$datebook-width: $tile-width + ($content-bg-padding * 2)

.bookmarks-title
  margin: 0 25px
  padding-bottom: 10px

.plans-title
  padding-bottom: 10px

.datebook
  width: $datebook-width
  h3
    margin-left: $content-bg-padding
  .help-bubble
    width: $tile-width - 20
    margin-left: $content-bg-padding

.datebook, #new-plan-container
  +float('left')
  h3
    margin-bottom: 10px

$new-plan-container-width: $content-outer-width - $datebook-width - 20 - 1

#new-plan-container
  width: $new-plan-container-width
  border-top: none
  border-right: none
  +clearfix
  padding: 20px 10px

$plan-form-width: $new-plan-container-width - 20
$plan-form-inner-width: $plan-form-width - 20

.new-plan
  width: $plan-form-width
  background-color: $form-grey
  padding: 10px
  margin: 1.4em auto
  border: 1px solid #ccc
  +border-radius(5px)

  .events li
    // get the listings centered
    margin-left: ($plan-form-width - $tile-width) / 2

    // this is the text under the dropzone
    div
      margin-bottom: 0
    p
      padding: 6px 10px 4px
      line-height: 16px
      color: $grey

  form
    input[type="text"], textarea
      +input-base
      background-color: white
      width: $plan-form-inner-width
      +box-shadow(#ddd 0 2px 5px)
      border-radius: 3px
    textarea
      height: 70px

