#splash
  text-align: center

$splash-width: 1120px

#business-sign-up,
#public-landing
  text-align: center
  font-size: 14px
  margin-bottom: 60px
  h1, h2, h3
    color: black
  h1
    margin: 14px auto
  h2
    font-size: 24px
    font-weight: normal
  h3
    font-size: 18px
    margin-top: 24px
  .centered
    margin: 30px auto
    display: inline-block

  .bottom
    margin: 40px auto 0
    text-align: left
    // width: 1020px

  .checkered
    background:
      color: white
      image: image-url('main-bg.png')
      repeat: repeat
    .shadow-top, .shadow-bottom
      background-repeat: repeat-x
      height: image_height('landing/shadow-top.png')
      width: 100%

    .shadow-top
      background-image: image_url('landing/shadow-top.png')
      margin-bottom: 40px
    .shadow-bottom
      background-image: image_url('landing/shadow-bottom.png')
      margin: 30px 0

  .top
    margin: 0 auto
    width: $splash-width


#public-landing
  h1.main-title
    +replace-text-with-dimensions("landing/main-title.png")
  h1.info
    font-size: 46px
    font-weight: normal
    text-align: center
    margin-top: 50px
    margin-bottom: 18px
    line-height: 1.8em
  h2
    text-align: center
    font-size: 40px
    margin-top: 14px
  h3
    text-align: center
    font-weight: normal

  a.enter
    +replace-text-with-dimensions("landing/enter.png")
    display: block
    margin: 20px auto 10px

  .content-width
    width: $splash-width
    margin: 0 auto

  .browse,
  .share,
  .attend
    +float('left')

    width: image-width('/landing/browse.png')
    padding-top: image-height('/landing/browse.png')
    background-repeat: no-repeat
    background-position: top center

  .browse
    margin-right: 20px
    background-image: image_url('landing/browse.png')
  .share
    margin-right: 20px
    background-image: image_url('landing/share.png')
  .attend
    background-image: image_url('landing/attend.png')

  .events
    margin: 10px auto
    width: (220px + 10 + 25) * 3

  .note
    font-size: 12px
    line-height: 16px

  .checkered .inside
    margin: 0 auto
    position: relative
    width: $splash-width

#more-added-daily,
#of-your-favorite,
#our-favorites,
#your-favorites
  position: absolute

.relative-container
  position: relative


#more-added-daily
  +replace-text-with-dimensions("landing/more-added-daily.png")
  top: -45px
  left: -200px

#of-your-favorite
  +replace-text-with-dimensions("landing/of-your-favorite.png")
  top: -40px
  left: -96px

#our-favorites
  +replace-text-with-dimensions("landing/our-favorites.png")
  top: -60px
  left: 0px
#your-favorites
  +replace-text-with-dimensions("landing/your-favorites.png")
  top: -36px
  left: 800px


#business-sign-up
  h1
    +replace-text-with-dimensions("business/main-title.png")

  a.get-started,
  a.create-organization
    display: block
    margin: 20px auto 10px
    width: $splash-width
  a.get-started
    +replace-text-with-dimensions("business/get-started.png")
  a.create-organization
    +replace-text-with-dimensions("business/create-your-organization.png")

  .bottom
    width: $splash-width

  .create,
  .share,
  .grow
    +float('left')

    width: image-width('/business/create.png') + 40px
    padding-top: image-height('/business/create.png')
    background-repeat: no-repeat
    background-position: top center

  .create
    margin-right: 40px
    background-image: image_url('business/create.png')
  .share
    margin-right: 40px
    background-image: image_url('business/share.png')
  .grow
    background-image: image_url('business/grow.png')

  .bottom
    h2
      font-size: 30px
      color: black
      margin-bottom: 14px
    p
      padding: 6px 0
      width: 280px

    section
      background-repeat: no-repeat
      margin-bottom: 60px

    $left-padding: 680px
    .lokalite-is
      background-image: image_url('business/lokalite-is.png')
      height: image-height('/business/lokalite-is.png')
      padding-left: $left-padding
    .spend-less
      background-image: image_url('business/spend-less.png')
      background-position: 420px 40px
      padding-left: 100px
      height: 290px

    .gain-more
      background-image: image_url('business/gain-more.png')
      height: image-height('/business/gain-more.png')
      padding-left: $left-padding


