/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

// @import compass/reset

@import compass

// $blue: #3298CF
$blue: #607890

$light-green: #99cc99
// $blue: #2B7BFF

$grey: #5d5d5d
$light-grey: #808080
$header-grey: #444


$event-categories: 'all_events', 'all_places', 'featured', 'trending', 'happy_hour', 'campus', 'food_and_dining', 'music_and_the_arts', 'nightlife', 'shopping', 'restaurants_and_bars', 'coffee_and_tea', 'arts_and_entertainment', 'services', 'beer_wine_and_spirits', 'sports_and_fitness', 'health_and_beauty', 'community', 'non-profit', 'tours_and_tastings', 'learn_something_new', 'mmj'

=transparent-black
  background:
    image: image-url('transparent-black.png')
    repeat: repeat

=foreground
  background-color: white
  +single-box-shadow


=huge-headers
  h1, h2
    text-align: center
  h1
    font-size: 46px
    margin-bottom: 10px
  h2
    font-size: 20px
    font-weight: normal
    color: $light-grey
    margin-bottom: 20px

h1.huge, h1.big, h2.big
  text-align: center
h1.huge
  font-size: 46px
  margin-bottom: 10px
h1.big
  font-size: 38px
  margin-bottom: 10px
h2.big
  font-size: 20px
  font-weight: normal
  color: $light-grey
  margin-bottom: 20px

h1, h2, h3
  color: $header-grey

h1
  font-size: 24px
h2
  font-size: 20px
h3
  font-size: 16px

a
  +link-colors($blue, darken($blue, 12), darken($blue, 20), $blue)

=button
  +unstyled-link
  border: 1px solid #ccc
  +border-radius(6px)
  +linear-gradient(color-stops(white, darken(white, 8)))
  text-shadow: white 1px 1px 1px
  font-size: 14px
  padding: 8px 10px
  margin-right: 6px

  &:hover
    +linear-gradient(color-stops(white, darken(white, 14)))
  // &.active
  //   +linear-gradient(color-stops($light-green, darken($light-green, 8)))
  //   border-color: #83cb4d
  //   color: black
  //   text-shadow: none
  //   &:hover
  //     +linear-gradient(color-stops($light-green, darken($light-green, 16)))

ul.buttons
  +horizontal-list(10px)
  margin-top: 10px
  li
    padding: 10px
    a
      +button

a.button
  +button

@import layout
@import signup

.category-tab-buttons
  +horizontal-list(6px)
  margin-bottom: 12px
  li
    width: $sidebar-width/2 - 6
    a
      text-align: center
      display: block
      width: 100%
      height: 100%
      padding: 8px 0
      text-decoration: none
      border: 1px solid #ddd
      background-color: #ddd
      color: #666
      &.active
        color: black
        border-color: #83cb4d
        background-color: $light-green
        font-weight: bold

.category-icon
  +float('left')
  +replace-text-with-dimensions("category-icons/featured.png")
  background-position: left top
  display: block
  margin-right: 12px
  height: 20px
  margin-bottom: 4px
  &:hover
    background-position: left bottom

  @each $category in $event-categories
    &.#{$category}
      background-image: image_url("category-icons/#{$category}.png")


#right-sidebar
  padding-left: $sidebar-padding
  h3 a
    +hover-link
    +link-colors($header-grey, $blue)
    // +unstyled-link
  ul
    margin: 0
    +no-bullets
    li
      +clearfix
      margin-bottom: 10px
      a
        text-decoration: none
        +link-colors(black, $blue)
      .image
        +float('left')
        img
          // done in CSS for now, probably want to get an image at this scale
          width: 30px
      .details
        +float('left')
        // font-weight: bold
        width: 130px
        padding-left: 10px
        font-size: 12px
        .organization
          font-size: 10px

#middle
  width: $content-outer-width
  +single-box-shadow(#333333, 0, 0, 8px)
  margin-bottom: $content-bg-padding
  +border-bottom-radius(8px)

=content-with-padding
  +clearfix
  padding: 0 $content-bg-padding 10px

#middle
  > .content
    +content-with-padding
  > .content-with-foreground
    +content-with-padding
    padding: $content-inner-padding
    +foreground

#map_canvas
  margin-top: -16px
  margin-bottom: -16px
  width: 100%
  height: 800px

// taken mostly from google maps buttons, modified slightly
.google-maps-custom-button
  direction: ltr
  overflow: hidden
  text-align: center
  position: relative
  font-family: Arial, sans-serif
  -webkit-user-select: none
  font-size: 12px
  line-height: 160%
  padding: 0px 6px
  -webkit-box-shadow: rgba(0, 0, 0, 0.347656) 2px 2px 3px
  box-shadow: rgba(0, 0, 0, 0.347656) 2px 2px 3px
  min-width: 26px
  color: black
  border: 1px solid #A9BBDF
  padding-left: 6px
  font-weight: normal
  +border-radius(2px)
  // background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#F3F3F3))
  +linear-gradient(color-stops(#FEFEFE, #F3F3F3))
  background-position: initial initial
  background-repeat: initial initial
  cursor: pointer
  cursor: hand



$tile-inner-width: 200px
$tile-padding: 10px
$tile-width: $tile-inner-width + ($tile-padding * 2)

.events, .organizations
  font-size: 12px
  margin: 0

  // instead of the following clear manually since overflow: hidden screws up some other stuff.
  // +clearfix

  // In order to get the top border of the box-shadow to be displayed
  // we need to give it a top margin, so here we pull the container up
  // by the same amount.
  // We also give some padding-bottom so the bottom box-shadow border appears
  margin-top: -$content-bg-padding
  padding-bottom: $content-inner-padding

  li
    +foreground
    +float('left')
    width: $tile-inner-width
    padding: $tile-padding $tile-padding 4px
    margin-top: $content-bg-padding
    margin-left: $content-bg-padding

    &.without-image, &.ui-draggable-dragging
      .image
        display: none

    // &:hover
    //   background-color: darken(white, 5%)
      // .detail
      //   color: $blue
    a
      +unstyled-link

    // +single-box-shadow(black, 0, 0, 4px)
    // text-shadow: white 1px 1px 1px
    .image
      position: relative
      width: $tile-inner-width + 2
      img
        border: 1px solid black
      .description
        position: absolute
        bottom: 4px
        right: 1px
        left: 1px
        line-height: 1.6em
        +transparent-black
        color: white
        padding: 2px
        display: none

      .trend-button
        text-decoration: none
        position: absolute
        top: 0
        left: 0
        background:
          image: image-url('trend-corner.png')
          position: top
        width: image-width('trend-corner.png')
        height: image-height('trend-corner.png')/2
        &:hover
          background-position: bottom
        &.trended
          background-position: bottom
          &:hover
            background-position: top
        .trend-count
          display: none
          font-style: italic
          font-size: 10px
          color: white
          position: absolute
          left: 23px
          top: 2px
    .detail
      h1
        font-size: 14px
        // height: 1em
        // overflow: hidden
      .organization
        font-size: 12px
        // height: 1em
        // overflow: hidden

.help-bubble
  background:
    color: black
    image: image-url('header-bg.png')
    repeat: repeat-x
  color: white
  border: 1px solid #ccc
  font-weight: bold
  line-height: 1.6em
  padding: 6px 10px
  +border-radius(5px)

.datebook
  width: $tile-width + ($content-bg-padding * 2)
  h3
    margin-left: $content-bg-padding
  .help-bubble
    width: $tile-width - 20
    margin-left: $content-bg-padding

.datebook, .new-plan-container
  +float('left')
  h3
    margin-bottom: 10px


$info-window-width: 380px
.google_maps_info_window
  // max width is also set in the js
  // need to set this here so it doesn't get too small
  width: $info-window-width
  h1
    font-size: 20px
    a
      text-decoration: none
  .image
    +float('left')
    padding-left: 8px
    img
      border: 1px solid black
  .info
    +float('left')
    width: $info-window-width - 150 - 2 - 8
    margin-top: 24px
    .description
      line-height: 1.2em
      height: 4.8em
    .address
      font-size: 11px
      font-weight: bold
    table.times
      font-size: 11px
      margin: 18px 0


table.times
  margin-top: 10px
  font-size: 10px
  text-align: left
  tr
    height: 12px
  th
    font-style: italic
    font-weight: normal
    color: $grey
    // width: 38px
  .time
    font-weight: bold
    text-align: right
    // width: 60px
    padding: 0 12px

header.index
  +clearfix
  h1
    margin: 0 $content-bg-padding
    margin-bottom: 12px
    +float('left')

  .switch-to-map-view
    +float('right')
    margin-top: 10px
    margin-right: $content-bg-padding

.tiled-pagination
  margin: 4px $content-bg-padding


.event, .organization
  +content-with-padding
  .title
    +clearfix
    margin-bottom: 10px
    .title-image
      +float('left')
      margin-right: 10px
    .text
      +float('left')
    h1
      font-size: 24px
    h2
      font-size: 16px
      font-weight: normal
      a
        +hover-link
        // +link-colors(#555, $blue)

  .image
    +foreground
    +float('left')
    padding: 10px
    img
      border: 1px solid black
      width: 300px

  .detail
    +float('left')
    // 302 == image with border
    width: $content-inner-width - 302 - $content-bg-padding
    padding-left: $content-bg-padding

  dt
    font-weight: bold
    font-size: 14px
    border-bottom: 1px solid #ccc
    margin-bottom: 4px
  dd
    margin-bottom: 10px
    p
      padding-bottom: 8px

  .location
    margin-top: 8px
    .map img
      border: 1px solid #ddd
      +border-radius(5px)
      // width: 688px
  // .location
  //   // margin-top: 80px
.event
  .detail
    table.times
      font-size: 13px

    .description
      line-height: 1.1em
      height: 3.3em

.static-controller
  +huge-headers
  p
    padding: 0.5em 0

.organization-events,
.more-events
  hr
    margin-top: 1em

.my-organizations-controller
  table.times
    font-size: 13px
    margin: 0 0 1em
  .organization-buttons
    text-align: center
    ul.buttons
      margin: 0 auto 18px
      display: inline-block

table.event-picker
  margin-bottom: 6px
  td
    padding: 6px 4px

  input[type='checkbox']
    background-color: red

.repeating-event-fields
  display: none

// based on Apple pagination code here: http://mislav.uniqpath.com/will_paginate/
.pagination
  // background: #f1f1f1
  // border: 1px solid #e5e5e5
  text-align: center
  padding: 1em
  cursor: default
  font-size: 1.2em
  a, span
    padding: 0.2em 0.3em
  .disabled
    color: #aaaaaa
  .current, em
    font-style: normal
    font-weight: bold
    background-color: darken(#f1f1f1, 20)
    display: inline-block
    width: 1.4em
    height: 1.4em
    line-height: 1.5
    -moz-border-radius: 1em
    -webkit-border-radius: 1em
    border-radius: 1em
    text-shadow: rgba(white, .8) 1px 1px 1px
  a
    text-decoration: none
    color: black
    &:hover, &:focus
      text-decoration: underline


.flash
  margin: 0 $content-bg-padding 10px
  font-size: 14px
  padding: 1em
  line-height: 1.4em
  +border_radius(6px)
  border:
    style: solid
    width: 1px
  .dismiss
    +unstyled-link
    +float('right')
    font-size: 20px
    font-weight: bold
    color: #777
    color: rgba(0, 0, 0, 0.5)
    +opacity(0.5)
  p
    margin-right: 30px

  &.error
    background-color: #F8DCDA
    border-color: #F4C8C5
  &.notice
    background-color: #FFF0C0
    border-color: #FFE38D
  &.success
    background-color: #DFF1DF
    border-color: #BBE2BB
  &.info
    background-color: #C7EEFE
    border-color: #ADE6FE

#counter
  &.safe
    color: #256C16
  &.over
    color: #81080B

.clear
  width: 100%
  height: 1px
  margin: 0 0 -1px
  clear: both

.centered
  text-align: center
  margin: 0 auto

@import forms
@import charts

