<ul class="event-previews">
  <% for event in @organization.events -%>
    <li>
      <h2><%= event.name %></h2>
      <%= render :partial => '/events/time_span', :locals => {:event => event} %>
    </li>
  <% end -%>
</ul>
