<ul class="event-previews">
  <% for event in @organization.events -%>
    <li>
      <h2><%= link_to event.name, event_path(event.slug, event.id)  %></h2>
      <%= render :partial => '/events/time_span', :locals => {:event => event} %>
    </li>
  <% end -%>
</ul>
