<div class="flash error">
  <% if params[:category].present? %>
    Uh oh, there are no events in the "<%= title_for_category(params[:category]) %>" category.
  <% elsif params[:keywords].present? %>
    Sorry, we didn't find any events for the searrch "<%= params[:keywords] %>".
  <% else%>
    Sorry, we don't have any upcoming events for this location!
  <% end %>
</div>
