<ul class='categories'>
  <%
    EVENT_CATEGORIES.dup.unshift('Featured', 'Most Popular').push('All Events').each do |category|
    slug = category.parameterize('_')
    classes = [slug]
    if event_index_page?
      classes << 'active' if slug == params[:category] or (params[:category].blank? and slug == 'all_events')
    end
  %>
    <li class="<%= classes.join(' ') %>">
      <%= link_to(category, events_path_with_options(:category => slug)) %>
    </li>
  <% end %>
</ul>

<!-- <% if params[:view_type] == 'map' %>
  <p class="centered"><%= link_to 'Switch to Gallery View', events_path_with_options(:view_type => nil, :keep => [:keywords]), :class => 'btn primary' %></p>
<% else %>
  <p class="centered"><%= link_to 'Switch to Map View', events_path_with_options(:view_type => 'map', :keep => [:keywords]), :class => 'btn primary' %></p>
<% end %> -->


