<header class='index'>
  <h1>
    <%= tile_view_title %>
  </h1>

  <%
    options = params.reject{|key, value| ! %w[origin category keywords].include?(key) }
  %>
  <div class="clear"></div>

  <% if user_signed_in? && options[:category] == 'suggested' %>
    <p class='tiled-category-list'>
      Events in
      <%= current_user.event_categories.join(', ') %>
    </p>
  <% end %>
</header>

<ul class="events">
  <% @events.each do |event| %>
    <%= render :partial => '/events/event', :locals => { :event => event, :reportgrid_event_type => "event_tile" } %>
  <% end %>
</ul>

<div class="clear"></div>

<div class="tiled-pagination">
  <%= will_paginate @events %>
</div>

