<div data-role='navbar' data-theme='a'>
  <ul>
    <li><%= link_to "Event Categories", '/events/categories', "data-role"=> "button" %></li>
    <li><%= link_to 'Full Site', 'http://lokalite.com', :target => '_blank' %></li>
    <li><%= link_to "Place Categories", '/places/categories', "data-role"=> "button" %></li>
  </ul>
</div>

<% if @events.any? %>
  <%= render :partial => 'event' %>
<% end %> 
