<%
#  accept = raw(ImageUploader.accepts.join(', '))
#  id = @result.data.id
#  name = @result.data.name
#  category = @result.data.category
#  image = @result.data.image
#
#  locals = {
#    :accept => accept,
#    :id => id,
#    :name => name,
#    :category => category,
#    :image => image
#  }
%>


<div class='form'>
  <h1>
    Editing <%= @organization.name %>
  </h1>

  <%= semantic_form_for @organization, :url => my_organization_path(@organization), :html => { :method => 'put' }, :html => {:multipart => true} do |form| %>
    <%= render :partial => 'fields', :locals => { :form => form } %>
  <% end %>
</div>

