<%
  #accept = raw(ImageUploader.accepts.join(', '))
%>

<div class='form'>
  <h1>Create an Organization</h1>
  <h2>
    Then you can begin creating events!
  </h2>

  <hr />

  <%= semantic_form_for @organization, :url => my_organizations_path(), :method => 'POST', :html => {:multipart => true} do |form| %>
    <%= render :partial => 'fields', :locals => { :form => form } %>
  <% end %>
</div>

