<%
  context "Statuses #{ @organization.name.inspect }"
%>

<% form do %>
       
    <div class="update-status">
    <h1> Update Status </h1>    
    <br />
    <textarea name='status' placeholder="140 Characters Max" maxlength='140'></textarea>
    <br />
    <%= submit_tag('Post It!') %>
    <br />
    <br />
	</div>
	
	<div class="previous-posts">
	<h2> View Your Previous Posts </h2>
    <ul>
    <br />
      <% @statuses.each do |status| %>
    <br />
        <li>
          <%= c status %> <span class='hint'><%= time_ago_in_words status.created_at %> ago</span>
        </li>
      <% end %>
    </ul>
    </div>	
 
<% end %>

