<style>
  .body {
Margin: 0px 25px 0px 25px;
Font-family: tk-deva-ideal;
Font-size: 14pt;
color: #000000;
}
  .indented {
     margin-left: 50px;
}
</style>

<% context('About lokalite') %>
  <section id="about" class="profile">

    <article>

    <div class="fill-right">
    <hgroup>
      <h1 class="logo"><span class="visuallyhidden">Lokalite</span></h1>

      <!--<h2 class="tk-deva-ideal">Life outside the box.</h2>-->


      <div class="body">
        <p><b>What Is Lokalite?</b></p>
        <p class ="indented">A new way to explore the people, places, and events that make Boulder, well, Boulder!</p> 
&nbsp;
        <p><b>How Did Lokalite Get started?</b></p>
        <p class="indented">Lokalite was founded in May 2010 by 5 CU grads who eat, drink, and play at the same places you do. We thought we’d share the love.</p>
&nbsp;
        <p><b>What Can I Find On Lokalite?</b></p> 
<p class = "indented">Happy hours, concerts, fairs, festivals, retail sales, mmj specials, beer pong tournaments, open mic nights, campus speakers, free yoga classes, drink specials, poetry readings, fundraisers, poker tournaments, art classes, taprooms, bus tours, beautiful people, tech meet-ups, tea classes, goldfish races, trike races, costume parties, road races, marathons, farmers markets, beer gardens,           magic shows, pottery painting, spa specials, distillery tours, salsa dancing, laser shows and MORE!</p> 
&nbsp;
         <p><b>What Won’t I Find On Lokalite?</b></p> 
         <p class = "indented">Banner ads, pop-ups, creepy privacy settings, or your grandma’s aerobics class.</p> 
&nbsp;
         <p><b>Who Can Use Lokalite?</b></p> 
         <p class = "indented">Anyone!</p> 
&nbsp;
         <p><b>How Can I Post My Events?</b></p> 
    <p class = "indented">If you are a campus organization or a local business, click here to start promoting your events. Did we mention it only takes a few minutes and its FREE?!</p> 
&nbsp;         
         <p><b>I’m Not A Campus Organization or Business. Why Can’t I Post My Events?</b></p> 
  <p class = "indented">Although we understand your friend’s 21st birthday party is going to be out of this world                     outrageous, we’re not ready for user-generated events quite yet.  We’ll give you a holler when the            day comes.</p> 
&nbsp;
         <p><b>Is There A Lokalite Mobile App?</b></p>
         <p class = "indented">Yuppp.  Download the iPhone App here.  Android users, we’re working on it.</p>

    </div><!-- end fill-right -->
    </article>
  </section>

