<style>

  .body {
    margin: 0px 25px 0px 25px;
    font-size: 14pt;
}

</style>

<% content_for(:context) { "Contact Us" } %>

<section class="profile"><article>

<h1 style="margin-bottom:1em; font-size:14pt"><center><b>We want to hear from you!</b></center></h1>

<p class="body">General Inquiries? Know of a Kick-Ass event going on that we missed? Want to come drink a beer (or apple juice) with the Lokalite crew?</p>
<p class="body"><b>Email us:</b> <a href="mailto:info@lokalite.com">info@lokalite.com</a></p>
&nbsp;
<p class="body">What you think of our new product? What new features do you want to see? Let us know!</p>
<p class="body"><b>Email us:</b> <a href="mailto:feedback@lokalite.com">feedback@lokalite.com</a></p>
&nbsp;
<p class="body">Want us to sponser one of your awesome events?</p>
<p class="body"><b>Email us:</b> <a href="mailto:support@lokalite.com">support@lokalite.com</a></p>
&nbsp;
<p class="body">Having trouble with your account?</p> 
<p class="body"><b>Email us:</b> <a href="mailto:support@lokalite.com">support@lokalite.com</a></p>

</article></section>
