<% content_for(:context) { "Contact Us" } %>

<section class="profile"><article>

<h1 style="margin-bottom:1em;">We want to hear from you!</h1>

<p>lokalite is for you. If there's anything we can do to make it better, we want to hear about it. If you have a question or idea or concern, drop us a line! If you're just excited about the possibilities of lokalite, we want to hear that, too!</p>

<p>Email us: <a href="mailto:info@lokalite.com">info@lokalite.com</a></p>

</article></section>

