<style>
  .form-container {
    margin: 0px 25px 0px 25px;
    font-size: 14pt;
    color: #000000;
  }
  .indented {
     margin-left: 50px;
  }
</style>

<div class="form-container">
  <iframe src="https://docs.google.com/a/lokalite.com/spreadsheet/embeddedform?formkey=dEhyeExCU3hIYk0zUWwwZUxJMmU1c2c6MQ" width="710" height="653" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>
