<style>

  .indent {
    margin: 0px 50px 0px 50px
    font-size: 10pt
}
</style>



  <h1>Lokalite Privacy Policy</h1>
    <p><b>Effective as of:</b>&nbsp;8/22/2011</p>
    <p><b>Last revised:</b>&nbsp;8/18/2011</p>

  <h2>Our Policy:</h2>
    <p class="indent">This statement (the "Privacy Policy") describes the personally identifiable data ("Personal Data") and other information that we collect through our websites and mobile applications (collectively, the "Site"), and how we use it. The terms "we", "us", and "Lokalite" refer to Blue Duck LLC, a Colorado limited liability company d/b/a Lokalite. The Site is operated by Lokalite and has been created to provide customized online event management, sharing, and discovery services (the "Lokalite Services") to our Site visitors.</p>
&nbsp;
  <h3>Information We Collect:</h3>
    <p class="indent">
      When you interact with us through the Site, we may collect the following Personal Dat                         a and other information from you:
    </p>

    <p class="indent">
      <b>Personal Data that You Provide Through the Site:</b>
We collect Personal Data from you when you voluntarily provide such information, such as when you contact us with inquiries, respond to one of our surveys, register for an event, register for access to the Lokalite Services or use certain Lokalite Services. The Personal data we may collect includes without limitation your name, e-mail address, location and other personally identifiable data. Wherever Lokalite collects Personal Data we make an effort to provide a link to this Privacy Policy. You can access and
<%= link_to "manage your account information", edit_profile_path %> .
</p>

    <p class="indent">
By voluntarily providing us with Personal Data, you are consenting to our collection and use of it in accordance with this Privacy Policy.
</p>

  <h3>Other Information:</h3>
    <p class="indent">
      <b>Non-Identifiable Data:</b>
When you interact with Lokalite through the Site, we receive and store certain information that does not identify you personally.  Lokalite may store such information itself or may include it in databases owned and maintained by Lokalite affiliates, agents or service providers. We may use such information and aggregate it with other information to track, for example, the total number of visitors to our Site, the number of visitors to each page of our Site, the location of users based on their Internet protocol addresses, and the domain names of our visitors' Internet service providers. It is important to note that Personal Data cannot be derived from your personally non-identifiable information.
</p>

    <p class="indent">
In operating this Site, we may use a technology called "cookies." A cookie is a piece of information that the computer that hosts our Site gives to your computer’s hard drive when you access the Site. We may use both session cookies (which expire once you close your browser) and persistent cookies (which stay on your computer until you delete them). Our cookies help provide additional functionality to the Site and help us analyze Site usage more accurately. For instance, our Site may set a cookie on your browser that allows you to access the Site without needing to enter a password more than once during a visit to the Site. On most web browsers, you will find a "help" section on the menubar. Please refer to this section for information on how to receive a notification when you are receiving a new cookie, turn cookies off, or delete them from your computer’s hard drive. If you turn cookies off, you may not be able to use all of the Site’s features. We enable some of our business partners to use cookies in conjunction with your use of the Site. We have no access or control over the use of these cookies. These cookies collect information about your use of the Site, such as where you came from or what pages you visited within the Site.
</p>

    <p class="indent">
      <b>Activity and Log Data:</b>
We automatically store information related to your use of the Site, such as the pages you view on the Site, your browser type, IP address, the phone numbers and names of businesses that you call through the Site, requested URL, browser language, referring URL, and the date and time of your visit. We use this type of information to administer to the Site and provide the highest possible level of service to you.  We also use this information in the aggregate to perform statistical analyses of user behavior and characteristics in order to measure interest in and use of the various areas of the Site. This aggregate information does not identify you personally.
</p>

    <p class="indent">
      <b>Location Data:</b>
When you access the site, we automatically determine your location based on your Internet protocol address so that we can tailor event information to your specific information. Additionally, if you allow your mobile device to send us your location, we may store and use that information to provide you with location-based information and advertising. If you want to deactivate this feature, you can block the Site’s access to GPS data on your mobile device to the extent that your mobile device allows.
</p>

    <p class="indent">
      <b>Third Party Services:</b>
We may integrate third party services, such as Facebook and Twitter, with the Site to share your selected Public Content (defined below under “Exclusions”) with those services and import information about who you are connected with on those services so that you can connect with them on the Site. Some of those third party services may also provide us with information from your accounts there to enhance and personalize your use of the Site. For example, you can allow Facebook to tell us who your Facebook friends are so that you can follow their activity on Lokalite. You may also be able to modify your privacy settings with those other services directly. For example, you can adjust your privacy settings on Facebook to prevent your Facebook friends from sharing information about you from their Facebook accounts with Lokalite.
</p>

    <p class="indent">
      <b>Our Use of Your Personal Data and Other Information:</b>
Lokalite uses the Personal Data that you provide in a manner that is consistent with this Privacy Policy. If you provide Personal Data for a certain reason, we may use the Personal Data in connection with the reason for which it was provided. For instance, if you provide Personal Data to avail yourself of Lokalite Services, we will use your Personal Data to provide you with access to such services and to monitor your use of such services. Lokalite and its subsidiaries and affiliates (the "Related Companies") may also store and use your Personal Data and other personally non-identifiable information collected through the Site to better understand our users, and help us improve the content and functionality of the Site, and the Lokalite Services. Lokalite and its Related Companies may use this information to contact you in the future to tell you about services we believe will be of interest to you.
</p>

    <p class="indent">
      <b>Our Disclosure of Your Personal Data and Other Information:</b>
We consider your Personal Data to be a vital part of our relationship with you. There are circumstances, however, under which we may share your Personal Data with certain third parties without further notice to you, as set forth below:
</p>
    <p class="indent">
      <b>Business Transfers:</b>
As we develop our business, we might sell or buy businesses or assets. Personal Data may be part of the transferred assets.
</p>
    <p class="indent">
      <b>Agents, Consultants and Related Third Parties:</b>
Lokalite, like many businesses, sometimes hires other companies to perform certain business-related functions. Examples of such functions include technical and customer support, mailing information, maintaining databases and processing payments. When we employ another company to perform a function of this nature, we only provide them with the information that they need to perform their specific function. We may also share aggregated non-personal information relating to user behavior with third parties in connection with actual or prospective business relationships with those parties, such as advertisers and content distributors.
</p>
    <p class="indent">
      <b>Legal Requirements:</b>
Lokalite may disclose your Personal Data if required to do so by law or in the good faith belief that such action is necessary to <b>(i)</b> comply with a legal obligation, <b>(ii)</b> protect and defend the rights or property of Lokalite, <b>(iii)</b> act in urgent circumstances to protect the personal safety of users of the Site or the public, or <b>(iv)</b> protect against legal liability.
</p>
    <p class="indent">
      <b>Your Choices:</b>
You can use the Site without providing any Personal Data. If you choose not to provide any Personal Data, you may not be able to use certain Lokalite Services.
</p>

    <p class="indent">
      At any time, you can choose to no longer receive future communications from us. You can "opt out" of receiving Lokalite newsletter e-mails by clicking “unsubscribe” You may modify your choices at any time in your Lokalite account. In addition, each communication we send you will contain instructions permitting you to "opt out" of receiving future communications by clicking on the link at the bottom of the e-mail that says "unsubscribe." It may take up to 24 hours for us to process an unsubscribe request. You can also “unsubscribe” from Event Organizer e-mails. Please note that if you unsubscribe from receiving Event Organizer e-mails, you will no longer receive e-mails from the particular Event Organizer, but you will still get order confirmations and newsletters from Lokalite. If you unsubscribe from all Lokalite e-mails, you will no longer receive any communications from Lokalite.
</p>

    <p class="indent">
      <b>Exclusions:</b>
This Privacy Policy applies only to Personal Data collected through the Site. Additionally, this Privacy Policy does not apply to any unsolicited information you provide to Lokalite through this Site or through any other means. This includes, but is not limited to, information posted to any public areas of the Site, such as bulletin boards (“Public Content”); any ideas for new products or modifications to existing products; and other unsolicited submissions (collectively, "Unsolicited Information”). All Unsolicited Information shall be deemed to be non-confidential, may be accessed and used by third parties, and Lokalite shall be free to reproduce, use, disclose, distribute and exploit such Unsolicited Information without limitation or attribution.
</p>

    <p class="indent">
      <b>Children:</b>
Lokalite does not knowingly collect Personal Data from children under the age of 13. If you are under the age of 13, please do not submit any Personal Data through the Site. We encourage parents and legal guardians to monitor their children's Internet usage and to help enforce our Privacy Policy by instructing their children never to provide Personal Data on this Site without their permission. If you have reason to believe that a child under the age of 13 has provided Personal Data to Lokalite through this Site, please contact us, and we will take steps to delete that information from our databases and terminate the child’s account.
</p>

    <p class="indent">
      <b>Links to Other Web Sites:</b>
This Privacy Policy applies only to the Site. The Site may contain links to other web sites not operated or controlled by Lokalite (the "Third Party Sites"). Except as set forth herein, we do not share your personal information with those third parties, and are not responsible for their privacy practices.  We recommend that you read the privacy policies on all such third party websites.
</p>

    <p class="indent">
      <b>Security:</b>
We follow generally accepted industry standards to protect the Personal Data submitted via the Site from loss; misuse; and unauthorized access, disclosure, alteration, or destruction. No Internet transmission or method of electronic storage is ever fully secure or error-free, however. In particular, e-mail sent to or from this Site may not be secure. You should therefore take special care in deciding what information you send to us via e-mail. Please keep this in mind when disclosing any Personal Data to Lokalite via the Internet.
</p>

    <p class="indent">
      <b>Other Terms and Conditions:</b>
Your access to and use of this Site is subject to the
<%= link_to 'Terms of Service', static_path(:terms_of_service) %> .
</p>

    <p class="indent">
      <b>Changes to Lokalite's Privacy Policy:</b>
Lokalite reserves the right to update or modify this Privacy Policy at any time and without prior notice. Please review this policy periodically, especially before you provide any Personal Data. This Privacy Policy was last updated on the date indicated above. Your continued use of the Site after any changes or revisions to this Privacy Policy shall indicate your agreement with the terms of such revised Privacy Policy.
</p>

    <p class="indent">
      <b>Access to Information; Contacting Lokalite:</b>
To keep your Personal Data accurate, current, and complete, please contact us as specified below. We will take commercially reasonable steps to update or correct Personal Data in our possession that you have previously submitted via this Site.
</p>

    <p class="indent">
Please also feel free to contact us if you have any questions about Lokalite's Privacy Policy or the information practices of this Site.  You may contact us at privacyofficer@lokalite.com or in writing at:
</p>

<p>Blue Duck LLC
Attn: Privacy Officer
1320 Pearl Street Suite 110
Boulder, CO 80302</p>
