<div id="advertising-splash">

  <div class="pane1">  
    <div class="intro content-width">
      <h1>One place for ALL of your events</h1>
      <p>We help you manage, promote, and advertise all of <br /> your events</p>
      <br />
      <ul>
        <li>Easily manage your events from Lokalite or have <br /> our team manage your account</li>
        <li>Supercharge your events with Lokalite's <br /> Featured Events</li>
        <li>Consult with our social media experts to increase <br /> your online presence</li>
      </ul>
    </div>
  </div>
    <div class="shadow-bottom"></div>

    <div class="pane2">
    <div class="learning-curve content-width">
      <h1>No learning curve here</h1>
      <p>Within minutes you can be up and running, ready to add events. And did we mention, it's FREE?! Don't have time to manage your events? No worries! Lokalite provides low cost solutions to help you take a load off.</p>
      </div>
    </div>

    <div class="pane3">
      <div class="we-know content-width">
        <h1>We know events</h1>
        <p>Use Lokalite's Featured Event category to get in front of your customers. With Featured Events, gain the exposure you need to drive traffic through the door. We gaurantee that every Lokalite user will see your event.</p>
      </div>
    </div>

    <div class="pane4">
      <div class="we-are content-width">
        <h1>We are (online) social butterflies</h1>
        <p>The Lokalite crew is proficient in social media and you can be too. Leverage Lokalite's expertise in social media to bring your online presence to the next level. We will even manage your online presence for those needing extra attention.</p>
      </div>
    </div>


  </div>
</div>
