<div id="business-signup">
  <h1>
    How businesses should always advertise and share their events
  </h1>
  <h2>(did we mention that it's free?!)</h2>


  <div class='centered'>
    <div class="create">
      <h3>Create</h3>
      Simply create an account, build
      <br />
      your business page,and start adding events.
    </div>
    <div class="share">
      <h3>Share</h3>
      With the click of a button, share your
      <br />
      events across other social media platforms.
    </div>
    <div class="grow">
      <h3>Grow</h3>
      Watch as new customers
      <br />
      line up for your events!
    </div>
  </div>

  <div class="clear"></div>

  <%= link_to 'Get Started', business_signup_path, :class => 'get-started' %>
  or
  <%= link_to 'check out the site', root_path %>

  <div class="bottom">
    <section class='lokalite-is'>
      <h2>Lokalite is</h2>

      <h3>Fresh</h3>
      <p>
        A new way to advertise and promote your events.  Turn your message into a piece of art to be displayed in the Lokalite Event Gallery.
      </p>

      <h3>Easy</h3>
      <p>
        Add, update and feature events anytime, anywhere, and as much as you want.
      </p>

      <h3>Effective</h3>
      <p>
        We’re working to create an analytics toolkit that will show you just how many people see each of your events.
      </p>
    </section>


    <section class='spend-less'>
      <h2>Allowing businesses to spend less</h2>

      <h3>Time</h3>
      <p>
        Create an account, add your events and see them published in less than three minutes!
      </p>

      <h3>Money</h3>
      <p>
        Listing your events on Lokalite is and always will be free.
      </p>

      <h3>Effort</h3>
      <p>
        We promote your events to the college demographic so you don’t have to.
      </p>
    </section>


    <section class='gain-more'>
      <h2>To gain more</h2>

      <h3>Exposure</h3>
      <p>
        Reach Lokalite users, Facebook fans and Twitter followers with a single event listing
      </p>

      <h3>Customers</h3>
      <p>
        Lokalite’s users are always looking for new things to do.  Entice them with a sweet deal or an awesome event and watch them file through your doors.
      </p>

      <h3>Sanity</h3>
      <p>
        No learning curve here, folks.
      </p>
    </section>
  </div>

  <%= link_to 'Get Started', business_signup_path, :class => 'get-started' %>
</div>

