<%= render :partial => '/profile/profile_header' %>

<div class="datebook">
  <h3>Datebook</h3>

  <% if @saved_events.any? %>
    <ul class="events">
      <% @saved_events.each do |event| %>
        <%= render :partial => '/events/event', :locals => { :event => event } %>
      <% end %>
    </ul>
    <div class="clear"></div>
  <% else %>
    <div class="help-bubble">
      Add events to your Datebook by pressing the plus sign on the upper-left corner of an event tile.
    </div>
  <% end %>
</div>

<div id="new-plan-container">
  <div class="new-plan">
    <h3>
      Editing
      <%= @plan.title %>
    </h3>
    <%= render :partial => '/plans/fields' %>
  </div>
</div>

