<ul class='categories'>
  <%
      # not including Featured for places yet, but might want to add that in sometime
    ORGANIZATION_CATEGORIES.dup.unshift('All Places').each do |category|
    slug = category.parameterize('_')
    classes = [slug]
    if params[:controller] == 'places' and params[:action] == 'index'
      classes << 'active' if slug == params[:category] or (params[:category].blank? and slug.start_with?('all_'))
    end
  %>
    <li class="<%= classes.join(' ') %>">
      <%
          options = {:origin => params[:origin]}
          options[:category] = slug unless category == 'All Places'
        %>
      <%= link_to(category, places_path_with_options(:category => slug)) %>
    </li>
  <% end %>
</ul>
