<!--
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=221397624592914";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
-->
<% if boulder_weekly? %>
  <meta property="og:image" content="http://boulderweekly.lvh.me:3000/images/BCE_logo.png" />
<% else %>
  <meta property="og:image" content="http://lokalite.com/images/header-logo.png" />
<% end %>

<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
      // channelURL : '//lokalite.dev/channel.html', // Channel File
      // xfbml      : true                           // parse XFBML
    FB.init({
      appId      : '<%= FACEBOOK_APP_ID %>', // App ID
      status     : true,                     // check login status
      cookie     : true,                     // enable cookies to allow the server to access the session
      oauth      : true                      // enable OAuth 2.0
    });

    facebookLoaded();
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=<%= FACEBOOK_APP_ID %>";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

</script>
