<%
unless @flash_has_already_been_rendered

flash = self.flash  ### see http://groups.google.ca/group/rubyonrails-talk/browse_thread/thread/8e54e4bc3c2b4366
keys = flash_message_keys
javascript = []

unless flash[:hide]
  keys.each do |key|
    message = flash[key]
    next if message.blank?
    javascript.push("App.flash(#{ message.to_json }, {'class' : #{ key.to_json }});")
  end
end

keys.each{|key| self.flash[key] = nil}
%>

<ul class='flash'>
  <script class='template' name='flash-list-item' type='text/x-jquery-tmpl'>
    <li>
      <span class='message'>{{html message}}</span>
      <a class='dismiss' href='javascript:void(42)'>dismiss</a>
    </li>
  </script>

  <script>
    jQuery(function(){
      <%#= raw(javascript.join("\n")) %>
    });
  </script>
</ul>

<noscript>
  <ul class="flash">
    <li class="error">
      <span class="message">You need javascript enabled for the internet to function properly.</span>
    </li>
  </ul>
</noscript>

<%
end

@flash_has_already_been_rendered = true
%>
