<% unless ['/users', '/business', '/static', '/my'].any? {|path| fullpath.start_with?(path)} || fullpath == '/' %>
  <%#= search_form %>

  <%
    if params[:controller] == 'places'
      active_tab = 'places'
    else
      active_tab = 'events'
    end
  -%>

<nav>
  <ul class='category-tab-buttons cf'>
    <li>
      <% class_names = active_tab == 'events' ? 'btn primary' : 'btn' %>
      <%= link_to 'Events', events_path(:origin => params[:origin], :category => 'featured'), :class => class_names or ' btn' %>
    </li>
    <li class="last">
      <% class_names = active_tab == 'places' ? 'btn primary' : 'btn' %>
      <%= link_to 'Places', places_path(:origin => params[:origin]), :class => class_names or ' btn' %>
    </li>
  </ul>

  <% if active_tab == 'events' %>
    <%= render :partial => 'events/sidebar_content' %>
  <% else %>
  <%= render :partial => 'places/sidebar_content' %>
  <% end %>

</nav>
<% end %>

