  <div id='filler_left'></div>
  <a href='#slide1' class='nav' title='Introduction'>1</a>
  <div class='filler'></div>
  
  <a href='#slide2' class='nav' title='What we do'>2</a>
  <div class='filler'></div>
        
  <a href='#slide3' class='nav' title='Development Timeline'>3</a>
  <div class='filler'></div>
        
  <a href='#slide4' class='nav' title='Problem'>4</a>
  <div class='filler'></div>
        
  <a href='#slide5' class='nav' title='Others Have Tried'>5</a>
  <div class='filler'></div>
        
  <a href='#slide6' class='nav' title='But Remain ...'>6</a>
  <div class='filler'></div>
            
  <a href='#slide7' class='nav' title='Lokalite Is Different'>7</a>
  <div class='filler'></div>
        
  <a href='#slide8' class='nav' title="Market">8</a>
  <div class='filler'></div>
        
  <a href='#slide9' class='nav' title='Targeting'>9</a>
  <div class='filler'></div>
        
  <a href='#slide10' class='nav' title="What's Next">10</a>
  <div class='filler'></div>

  <a href='#slide11' class='nav' title='Press Coverage'>11</a>
  <div class='filler'></div>
  
  <a href='#slide12' class='nav' title='Testimonials'>12</a>
  <div class='filler'></div>
  
  <a href='#slide13' class='nav' title='Contact'>13</a>
  <div class='filler'></div>
  
</ul>
        

